###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
# Last Modified: 05-31-2007
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
	use			Linux服务器		; 给网络设备用的
	host_name		语音备服务器
	alias			语音备服务器
        address                 61.135.238.157
        icon_image              switch.gif
        statusmap_image         switch.gd2
	2d_coords		100,200
	3d_coords		100,200,100
	}
define host{
        use                     Linux服务器
        host_name               语音主服务器
        alias                   监控服务器(宿主)
        address                 127.0.0.1
        icon_image              web.gif
        statusmap_image         web.gd2
	2d_coords		100,300
	3d_coords		100,300,100
        }


###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  Linux服务器组 ; The name of the hostgroup
        alias           Linux Servers ; Long name of the group
        members         语音主服务器,语音备服务器     ; Comma separated list of hosts that belong to this group
        }


define servicegroup{
	servicegroup_name 系统负荷检查
	alias 负荷检查
	members 语音主服务器,根分区,语音主服务器,登录用户数,语音主服务器,进程总数
	}

define servicegroup{
	servicegroup_name 全部联通性检查
	alias 联通性检查 
	members 语音主服务器,根分区	 
	}

###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

# define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       * 
#        service_description             PING
#	check_command			 check_ping!100.0,20%!500.0,60%
#       }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             根分区 
	check_command			check_local_disk!20%!10%!/
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             登录用户数
	check_command			check_local_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             进程总数
	check_command			check_local_procs!550!800!RSZDT
        }



# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             当前负载
	check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        }



# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             交换空间利用率
	check_command			check_local_swap!20!10
        }



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             SSH
	check_command			check_tcp!22!1.0!10.0
	notifications_enabled		0
        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             HTTP
	check_command			check_http
	notifications_enabled		0
        }
# asterisk
define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             Asterisk
        check_command                   check_tcp!5038!1.0!10.0
        notifications_enabled           0
        }
# NAGI
define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             NAGI
        check_command                   check_tcp!4573!1.0!10.0
        notifications_enabled           0
        }
# Mysql
define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             Mysql
        check_command                   check_tcp!3306!1.0!10.0
        notifications_enabled           0
        }
# Https
define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             Https
        check_command                   check_tcp!443!1.0!10.0
        notifications_enabled           0
        }
# 语音卡监控
define service{
        use                             local-service         ; Name of service template to use
        host_name                       语音主服务器
        service_description             语音卡监控 
        check_command                   check_dahdi
        }

# 监控非宿主机
define service{
        use                     local-service
        host_name               语音备服务器
        service_description     当前负载
        check_command           check_nrpe!check_load
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     磁盘sda1
        check_command           check_nrpe!check_sda1
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     磁盘sda2
        check_command           check_nrpe!check_sda2
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     总进程数
        check_command           check_nrpe!check_total_procs
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     当前用户
        check_command           check_nrpe!check_users
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     僵尸进程
        check_command           check_nrpe!check_zombie_procs
        }


define service{
        use                     local-service
        host_name               语音备服务器
        service_description     虚拟内存
        check_command           check_nrpe!check_swap
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     Myql数据库
        check_command           check_nrpe!check_mysql
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     Asterisk
        check_command           check_nrpe!check_asterisk
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     NAGI
        check_command           check_nrpe!check_nagi
        }

define service{
        use                     local-service
        host_name               语音备服务器
        service_description     https
        check_command           check_nrpe!check_https
        }


