<!--页面内容-->
  <div class="page_box">
  <div class="column form-column main col col-sm-9 form-horizontal">
    <h1> <span class="label label-info">
      <img src="/images/man.png"/>
      <img src="/images/queue.png"/>当前正在创建新队列</span></h1>
    <div class="panel panel-default fieldset">
    <div class="formStyle">
      <form action='<%- baseurl%>/save' method='POST' id='form1'>
        <table>
          <colgroup>
          <col style="width:20%">
          </colgroup>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">基本设置</th> 
          </tr>
          <tr>
            <th>队列号码</th>
            <td>   
            <input type="text" id='id'  name='id' class="form-control input-sm" placeholder="只能是3-20位数字" datatype="n3-20" ajaxurl="<%- baseurl%>/checkAjax" sucmsg="验证通过！" errormsg="验证不通过！" />
          </td>
          </tr>
          <tr>
            <th>队列名称</th>
            <td><input type="text" id='queuename' name='queuename' class="form-control input-sm" placeholder="给队列起一个名字，方便记忆。" datatype="*" errormsg="不能为空！" /></td>
          </tr>
           <tr>
            <th>震铃策略</th>
            <td>
    <select id="strategy" name="strategy">
        <option value="ringall">坐席全呼</option>
        <option value="roundrobin">轮流呼叫</option>
        <option value="leastrecent">最近接听最少</option>
        <option value="fewestcalls">完成呼叫最少</option>
        <option value="random">随机呼叫</option>
        <option value="rrmemory">记忆轮流呼叫</option>
      </select>
      <span class="tipmsg" data-toggle="tooltip" data-placement="bottom" title="
      坐席全呼     —— 所有坐席一起响铃直到有人接起为止&#13;
      轮流呼叫     —— 循环的让所有队列坐席震铃&#13;
      最近接听最少 —— 最近接听最少的坐席震铃&#13;
      完成呼叫最少 —— 队列中完成呼叫最少的坐席震铃&#13;
      随机呼叫     —— 随机一个坐席震铃&#13;
      记忆轮流呼叫 —— 循环的让所有队列坐席震铃,并且记住上次是哪个坐席应答的" style="color: #0C8AD6;text-decoration: none;font-size: 12px"><img src="/images/tip1.png"><b>震铃策略?</b></span>
</td>
          </tr>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">坐席成员设置</th> 
          </tr>
           <tr>
            <th>振铃时长</th>
            <td><input type="text" id='timeout' name='timeout' value="15" class="form-control input-sm tipmsg" title="坐席分机响铃时长。" placeholder="数字"  datatype="n" errormsg="验证不通过，请填写数字！" />
            </td>
            
          </tr>
           </tr>
           <tr>
            <th>接听前通知</th>
            <td><select size="1" name="announce">
        <option value="" selected="selected">无</option>
        <option value="custom/callfromqueue">呼叫来自队列</option>
        <option value="custom/silence5">静音五秒</option>
      </select>
</td>
          </tr>
          <tr>
            <th>强制置忙</th>
            <td>
              <input type="text" id='wrapuptime'  name='wrapuptime' value="0" class="form-control input-sm tipmsg" title="当坐席接听完一个电话后，强制其置忙时长。默认为0，即不置忙。" placeholder="默认为0，即不置忙。" datatype="n"  errormsg="当前时间验证不通过！" />
          
            </td>
          </tr>
          <tr>
            <th>队列成员</th>
            <td>

 <div class="form-group">
  <label for="extensions" class="control-label col-sm-1"></label>
            <div class="controls  col-sm-4">
<span>备选号码</span>
  <select size='10' name="extensions" multiple id="extensions" style='width: 100%;'>
                  <%- hasExtens%>
                </select>
              </div>
                <label for="extensions" class="control-label col-sm-1">
                  <a href="###" id='addmem'><img src="/images/right.png" border='0'></a><br/><br/><a href="###" id='removemem'><img src="/images/left.png" border='0'></a>
                </label>
         
            <div class="controls  col-sm-4">
              <span>已选号码</span>
  <select size='10' name="members" multiple id="members" style='width: 100%;'>
                </select>
              </div>
              <label for="" class="control-label col-sm-1">
                  <a href="###" id='moveup'><img src="/images/up.png" border='0'></a><br/><br/><a href="###" id='movdown'><img src="/images/down.png" border='0'></a>
                </label>

</div>
 </td>
          </tr>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">高级设置</th> 
          </tr>
            <tr>
            <th>等候提示</th>
            <td>
              <label class="radio-inline">
  <input type="radio" id="playring1" name='playring' value="0" checked='checked'  >播放等待音乐
</label>           <label class="radio-inline">
  <input type="radio" id="playring2" name='playring' value="1" >播放振铃音
</label>
           
              <span class="help-block">呼入队列的通话在未接通前的等候提示。</span>
            </td>
          </tr>  
          <tr>
            <th>播放工号</th>
            <td>
              <label class="radio-inline">
  <input type="radio" id="saymember1" name='saymember' value="1"   >是
</label>           <label class="radio-inline">
  <input type="radio" id="saymember2" name='saymember' value="0" checked='checked'>否
</label>
           
              <span class="help-block">当坐席应答时，向呼叫者播放坐席工号。</span>
            </td>
          </tr>  
             <tr>
            <th>循环通知时长</th>
            <td>   
            <input type="text" id='frequency'  name='frequency' value="0" class="form-control input-sm" placeholder="0表示不启用" datatype="n"  errormsg="当前时间验证不通过！" />
            <span class="help-block">当用户进入队列等待时，阶段性的向用户提示"坐席忙，请稍后。"</span>
          </td>
          </tr> 
           <tr>
            <th>呼叫间隔</th>
            <td>   
            <input type="text" id='retry'  name='retry' value="0" class="form-control input-sm" placeholder="默认为0，表示不等待。" datatype="n"  errormsg="当前时间验证不通过！" />
            <span class="help-block">再次在所有坐席中寻找能应答的坐席，需要等待多久，默认为0秒。"</span>
          </td>
          </tr> 
          <tr>
            <th>允许加入空队列</th>
            <td>
              <label class="radio-inline">
  <input type="radio" id="joinempty1" name='joinempty' value="yes"   >是
</label>           <label class="radio-inline">
  <input type="radio" id="joinempty2" name='joinempty' value="no" checked='checked'>否
</label>
           
              <span class="help-block">控制呼入当队列无座席时是否可以加入。</span>
            </td>
          </tr>  
          <tr>
            <th>等待超时时长</th>
            <td>
              <input type="text" id='queuetimeout'  name='queuetimeout' value="0" class="form-control input-sm" placeholder="默认为0，表示直接退出，并挂机。" datatype="n"  errormsg="当前时间验证不通过！" />
            <span class="help-block">当用户在队列中等待超过该时间时，将进入本地处理号码。"</span>
            </td>
          </tr>
          <tr>
            <th>本地处理号码</th>
            <td><input type="text" id="failedon" name="failedon" class="form-control input-sm" placeholder="请填写本地有效的号码，号码格式：数字。" /></td>
          </tr>         
        </table>
      </form>
      </div>
        <div class="panel-footer text-center">
        <button  class="btn btn-primary active" id='savebtn'>保存</button>
        <a href="/pbx/Queue" class="btn btn-default" role="button">返回</a>
        </div>
      </div>
  </div>
<script type='text/javascript'>
$(function(){
$(".tipmsg").tooltip({placement:'auto'});
$('#form1').Validform();
$('#savebtn').click(function(e){
//href="/PBXQueue/save"
if($('#form1').Validform().check()){

$("#members option").each(function(){
      $(this).attr('selected',true);
    });

 $.ajax({
                cache: true,
                type: "POST",
                url:'<%- baseurl%>/save',
                data:$('#form1').serialize(),// 你的formid
                async: false,
                error: function(request) {
                   $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                },
                success: function(data) {
                  if(data.success==='OK'){
                    $('#id').val(data.id);
                    $('#accountcode').attr('readonly','readonly');
                  }
                  $.scojs_message(data.msg, $.scojs_message['TYPE_'+data.success]);                  
                }
            }); 
}else{
  $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
}

});


  //增加成员
  $("#addmem").click(function(){
      $("#extensions option:selected").clone().appendTo("#members");
      $("#extensions option:selected").remove();
  });
  $("#extensions").dblclick(function(){
    $("option:selected",this).clone().appendTo("#members");
    $("option:selected",this).remove();
  });
  //减少成员
  $("#removemem").click(function(){
      $("#members option:selected").clone().appendTo("#extensions");
      $("#members option:selected").remove();
  });
  $("#members").dblclick(function(){
    $("option:selected",this).clone().appendTo("#extensions");
    $("option:selected",this).remove();
  });
  //成员上移
  $("#moveup").click(function(){
    var so = $("#members option:selected");
    if(so.get(0) && so.get(0).index!=0){
      so.each(function(){
        $(this).prev().before($(this));
      });
    }
  });
  //成员下移
  $("#movdown").click(function(){
    var so = $("#members option:selected");
    if(so.get(0) && so.get(0).index!=($("#members option").length-1)){
      so.each(function(){
        $(this).next().after($(this));
      });
    }
  });

});
</script>
