<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= locals.title%></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Sccin CallCenter Application System.">
<meta name="author" content="linmuyi9999@163.com">

<!-- The styles -->
<link id="bs-css" href="/css/bootstrap/bootstrap.css" rel="stylesheet">
<link  href="/css/bootstrap/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap/bootstrap-xadmin.css" rel="stylesheet">
<link href="/css/bootstrap/xadmin.main.css" rel="stylesheet">
<link href="/css/bootstrap/scojs.css" rel="stylesheet">
<link href="/css/bootstrap/bootstrap-datetimepicker.css" rel="stylesheet">

<link href="/css/common.css" rel="stylesheet">
<link href="/css/pagination.css" rel="stylesheet">

<link href='/css/datatable/css/jquery.dataTables.css' rel='stylesheet'>
<link href='/css/datatable/css/dataTables.tableTools.css' rel='stylesheet'>
<%- locals.html5%>
<link rel="shortcut icon" href="/images/favicon.ico">
<script src="/js/jquery-<%= locals.jquery%>.min.js"></script>
<script src="/js/lib/lodash.min.js"></script>
<style type="text/css" media="print">
.print
{
	display:none;
}
</style>

</head>

<body>
<%- body%>
<script src="/js/bootstrap/bootstrap.js"></script>
<script src="/js/bootstrap/sco.message.js"></script>
<script src="/js/bootstrap/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>
<script src='/js/datatable/jquery.dataTables.js'></script>
<script src="/js/datatable/dataTables.tableTools.js"></script>
<script src="/js/Validform.js"></script>
<script src="/js/common.js"></script>
<script src="/js/highcharts/highcharts.js"></script>
<script src="/js/highcharts/modules/exporting.js"></script>
<script src="/js/highcharts/themes/gray.js"></script>
<script src="/js/libfun.js"></script>
<div id="container"></div>
</body>
</html>