<script type='text/javascript'>
$(function() {
  $(".tipmsg").tooltip();
  //绑定删除按钮
  $('#suredelete').click(function() {
    var delid = $('#deleteid').val();
    $.ajax({
      type: "POST",
      url: '<%- baseurl%>/delete',
      data: {
        id: delid
      }, // 你的formid
      async: false,
      error: function(request) {
        $('#confirm_modal').modal('hide');
        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
      },
      success: function(data) {
        $('#confirm_modal').modal('hide');
        if (data.success === 'OK') {
          var oTable = $('#datatable').dataTable();
          oTable.fnDraw();
        }
        $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
      }
    });
  });

  //进度条
  $('#suresync').click(function() {
    $('#syncconfig').modal('hide');

    var sysnctype = $("#sysncbutton").val();
    $.ajax({
      type: "POST",
      url: '/base/common/sysnconfig',
      data: {
        sysnctype: sysnctype
      },
      timeout: 1000 * 60,
      async: false,
      beforeSend: function(XMLHttpRequest) {
        $('.progress-bar').css({
          'width': '5%'
        }).find('span').html('5%');
        $('#processbar_modal').modal({
          backdrop: 'static',
          keyboard: false,
          show: true
        });
      },
      complete: function(XMLHttpRequest, textStatus) {
        $('.progress-bar').css({
          'width': '100%'
        }).find('span').html('100%');
        $('#processbar_modal').modal('hide');
      },
      error: function(request) {
        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
      },
      success: function(data) {
        if (data.success === 'OK') {
          var oTable = $('#datatable').dataTable();
          oTable.fnDraw();
        }
        $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
      }
    });
  });
  //绑定查询按钮
  $('#search').click(function() {
    var oTable = $('#datatable').dataTable();
    oTable.fnDraw();
  });


}).keydown(function() {
  if (event.keyCode == 13)
    $("#search").click();
});

function delrow(id) {
  $('#deleteid').val(id);
  $('#confirm_modal').modal('show');
}
/*
*  @description  基本编辑方法
*  @param {String} id - 需要编辑的记录编号
*  @param {String} url - 编辑页面url
*  @return {String} 编辑页面
* */
 function editBase(id,url){
var realUrl=url+'?id='+id;
var oTable = $('#datatable').dataTable();
var oSettings = oTable.fnSettings();
var displayStart=oSettings._iDisplayStart;
     realUrl+="&displayStart="+displayStart;
var where=getWhere();
var whereStr="";
if(where!==null && typeof(where)==='object'){
    for(var key in where){
        if(/^whereCol_(\d+)/.test(key)){
            var n=RegExp.$1;
            whereStr+="keywordsKey"+where["whereCol_"+n]+"keywordsValue"+where["whereValue_"+n].replace(/[%]/g,"");
        }
    }
}
     window.location.href=realUrl+"&where="+whereStr;
     //window.open(realUrl);
  }
</script>