<div class="modal fade in" id="syncconfig" tabindex="-3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:400px">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <p class="i_Msg_warn"><img src="/images/exclamation.png" />新的更改只有进行过同步配置后才能生效。这样的操作可能引起当前通话中断，确认要同步配置吗？</p>
        </div>
      </div>
      <div class="modal-footer">        
<button  class="btn btn-danger btn-sm"  data-dismiss="modal" data-action="1" id="suresync" name="suresync">确定</button>
<a class="btn btn-default btn-sm" href="#" data-dismiss="modal">取消</a>
      </div>
    </div>
  </div>
</div>