<div class="layout_main">
    <div class="page_box">
        <div class="column form-column main col form-horizontal">
            <div class="panel panel-default fieldset">
                <div class="panel-heading">
                </div>
                <div class="panel-body ">
                    <div class="form-group">
                        <div class="panel panel-default fieldset">
                            <div class="formStyle">
                                <form action='<%- baseurl%>/save' method='POST' id='form1'>
                                	<input type="hidden" id="id" name="id" value="<%= id%>" />
                                    <table>
                                        <colgroup>
                                            <col style="width:20%">
                                        </colgroup>
                                        <tr>
                                            <th>替换号码</th>
                                            <td>
                                                <input type="text" value="" name="number" id="number" placeholder="只能是数字，不能超过20位"
                                                       datatype="n1-20"
                                                        sucmsg="验证通过！"
                                                       errormsg="验证不通过！"
                                                       class="form-control input-sm"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>替换方式</th>
                                            <td>
                                               <select  class="form-control input-sm" id="optiontype" name="optiontype">
                <option value="replace">全部替换</option>
                <option value="addbefore">添加到前面</option>
                <option value="append">追加到后面</option>
                
              </select>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <th>*使用说明</th>
                                            <td>
                                               <span>将主叫号码以一定的方式替换。</span>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="4" style="text-align: center">
                                                <input type="button" class="btn btn-primary btn-sm" id="savemenmu" value="保存">
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
var number="";
var optiontype="replace";

<%if(args!==null){%>
number="<%= args.number%>";
optiontype="<%= args.optiontype%>";
<%}%>
    $(function () {
        $(".tipmsg").tooltip({placement: 'auto'});
        $('#form1').Validform();

        $("#number").val(number);
        $("#optiontype").val(optiontype);
       
     

        $('#savemenmu').click(function (e) {
            if ($('#form1').Validform().check()) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: '<%- baseurl%>/save',
                    data: $('#form1').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {
                        if (data.success === 'OK') {
                            //window.location.href = "edit?id=" + data.id;
                        }
                        $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                    }
                });
            } else {
                $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
            }

        });
    });

</script>