<div class="modal fade in" id="confirm_modal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:400px">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <p class="i_Msg_warn">确认要删除该条记录吗？</p>
          <input type='hidden' id='deleteid' name='deleteid' value="" />
        </div>
      </div>
      <div class="modal-footer">        
<button  class="btn btn-danger btn-sm"  data-dismiss="modal" data-action="1" id="suredelete" name="suredelete">确定</button>
<a class="btn btn-default btn-sm" href="#" data-dismiss="modal">取消</a>
      </div>
    </div>
  </div>
</div>