<tr>
	<th>自定义设备</th>
	<td>
	<input type="text" id='trunkdevice'  name='trunkdevice' value="" class="form-control input-sm tipmsg"  title="自定义设备字符串，适合高级用户！"  />
	</td>
</tr>
</table>
</form>
</div>

<div class="panel-footer text-center">
<button  class="btn btn-primary active" id='savebtn'>保存</button>
<a href="/pbx/Trunk?displayStart=<%= displayStart%>&where=<%- where%>" class="btn btn-default" role="button">返回</a>
</div>
</div>
</div>
<script tyoe="text/javascript">
$(function(){
$(".tipmsg").tooltip({placement:'auto'});
$('#form1').Validform();
$('#savebtn').click(function(e){
//href="/PBXQueue/save"
if($('#form1').Validform().check()){
 $.ajax({
                cache: true,
                type: "POST",
                url:'<%- baseurl%>/save',
                data:$('#form1').serialize(),// 你的formid
                async: false,
                error: function(request) {
                   $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                },
                success: function(data) {
                  if(data.success==='OK'){
                    $('#id').val(data.id);
                    $('#accountcode').attr('readonly','readonly');
                  }
                  $.scojs_message(data.msg, $.scojs_message['TYPE_'+data.success]);                  
                }
            }); 
}else{
  $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
}

});



});
</script>