<!--页面内容-->
  <div class="page_box">
  <div class="column form-column main col col-sm-9 form-horizontal">
    <h1> <span class="label label-info">
      <img src="/images/man.png"/>
      <img src="/images/queue.png"/>当前正在编辑用户<%= inst.uLogin%></span></h1>
    <div class="panel panel-default fieldset">
    <div class="formStyle">
      <form action='<%- baseurl%>/save' method='POST' id='form1'>
        <table>
          <colgroup>
          <col style="width:20%">
          </colgroup>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">登陆设置</th> 
          </tr>
          <tr>
            <th>登陆帐号</th>
              <td>
                  <input type="text" id='uLogin' name='uLogin' value="<%= inst.uLogin%>" class="form-control input-sm" readonly="readonly" 
                  />
                  <input type="hidden" id="id" name="id" value="<%= inst.id%>">
              </td>
          </tr>
          <tr>
            <th>分 机 号</th>
            <td><input type="text" id='uExten' name='uExten' value="<%= inst.uExten%>" class="form-control input-sm" placeholder="输入分机号" datatype="n" errormsg="不能为空！" /></td>
          </tr>
          <tr>
            <th>部    门</th>
            <td>
              <select name="depId" id="depId" class="form-control input-sm" style='width: 100%;'>
                <%- departments%>
              </select>
            </td>
          </tr>
          <tr>
            <th>角    色</th>
            <td>
            <select name="roleId" id="roleId" class="form-control input-sm" style='width: 100%;'>
                <%- roles%>
              </select>
              </td>
          </tr>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">信息设置</th> 
          </tr>
          <tr>
            <th>用户姓名</th>
            <td><input type="text" id='uName' name='uName' value="<%= inst.uName%>" class="form-control input-sm" errormsg="不能为空！" datatype="*" /></td>
          </tr>  
          <tr>
            <th>手机号码</th>
            <td><input type="text" id='uPhone' name='uPhone' value="<%= inst.uPhone%>" class="form-control input-sm" placeholder="输入手机号码。" datatype="n"  /></td>
          </tr>
          <tr>
            <th>工    号</th>
            <td><input type="text" id='uWorkNum' name='uWorkNum' value="<%= inst.uWorkNum%>" class="form-control input-sm"  /></td>
          </tr>
          <tr>
            <th>性    别</th>
            <td>
            <label class="radio-inline tipmsg">
      <input type="radio" id="uSex1" name='uSex' value="男" <%if(inst.uSex==='男'){%>checked='checked'<%}%>  >男</label>
    <label class="radio-inline tipmsg" title="">
      <input type="radio" id="uSex2" name='uSex' value="女" <%if(inst.uSex==='女'){%>checked='checked'<%}%>  >女</label>
            </td>
          </tr> 
          <tr>
            <th>身份证号</th>
            <td><input type="text" id='uCard' name='uCard' value="<%= inst.uCard%>" class="form-control input-sm"  /></td>
          </tr>
          <tr>
            <th>联系地址</th>
            <td><input type="text" id='uAddr' name='uAddr' value="<%= inst.uAddr%>" class="form-control input-sm"  /></td>
          </tr>
          <tr>
            <th>是否只读</th>
            <td>
            <label class="radio-inline tipmsg">
      <input type="radio" id="readOnly1" name='readOnly' value="是" <%if(inst.readOnly==='是'){%>checked='checked'<%}%>  >是</label>
    <label class="radio-inline tipmsg" title="">
      <input type="radio" id="readOnly2" name='readOnly' value="否" <%if(inst.readOnly==='否'){%>checked='checked'<%}%>  >否</label>
            </td>
          </tr> 
          <tr>
            <th>备注</th>
            <td><textarea id="uMemo" name="uMemo" rows="3" class="form-control input-sm" cols="50"><%= inst.uMemo%></textarea>
            </td>
          </tr>
        </table>
      </form>
      </div>
        <div class="panel-footer text-center">
        <button  class="btn btn-primary active" id='savebtn'>保存</button>
        <a href="/pbx/UserInfo" class="btn btn-default" role="button">返回</a>
        </div>
      </div>
  </div>
<script type='text/javascript'>
$(function(){
$(".tipmsg").tooltip({placement:'auto'});
$('#form1').Validform();
$('#savebtn').click(function(e){
if($('#form1').Validform().check()){

 $.ajax({
                cache: true,
                type: "POST",
                url:'<%- baseurl%>/save',
                data:$('#form1').serialize(),// 你的formid
                async: false,
                error: function(request) {
                   $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                },
                success: function(data) {
                  if(data.success==='OK'){
                    $('#id').val(data.id);
                  }
                  $.scojs_message(data.msg, $.scojs_message['TYPE_'+data.success]);                  
                }
            }); 
}else{
  $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
}

});
});
</script>
