<!--页面内容-->
  <div class="page_box">
  <div class="column form-column main col col-sm-9 form-horizontal">
    <div class="panel panel-default fieldset">
    <div class="formStyle">
        <table>
          <colgroup>
          <col style="width:20%">
          </colgroup>
          <tr>
            <th>项目名称</th>
            <td><input type="text" class="form-control input-sm"></td>
          </tr>
          <tr>
            <th>项目批复名称</th>
            <td><input type="text" class="form-control input-sm"></td>
          </tr>
          <tr>
            <th>项目批复文号</th>
            <td><div role="form" class="form-inline">
                <div class="form-group">
                  <input type="text" value="" name="Predicate.CreateTimeFrom" id="Predicate_CreateTimeFrom" data-val-date="字段 CreateTimeFrom 必须是日期。" data-val="true" class="form-control input-sm">
                </div>
                <div class="form-group">
                  <input type="text" value="" name="Predicate.CreateTimeFrom" id="Predicate_CreateTimeFrom" class="form-control input-sm">
                </div>
                <div class="form-group">
                  <input type="text" value="" name="Predicate.CreateTimeFrom" id="Predicate_CreateTimeFrom" class="form-control input-sm">
                </div>
              </div>
              <p class="help-block">填写格式：发文单位  、 发文年份   、     发文号</p></td>
          </tr>
          <tr>
            <th>发文单位</th>
            <td><input type="text" class="form-control input-sm"></td>
          </tr>
          <tr>
            <th>收文单位</th>
            <td><input type="text" class="form-control input-sm"></td>
          </tr>
          <tr>
            <th>项目统一代码</th>
            <td><input type="text" class="form-control input-sm"></td>
          </tr>
          <tr>
            <th>所属行业主管部门</th>
            <td><select  class="form-control input-sm">
                <option value="1">交通委员会</option>
                <option value="2">建设委员会</option>
              </select></td>
          </tr>
          <tr>
            <th>建设单位</th>
            <td><input type="text" class="form-control input-sm"></td>
          </tr>
          <tr>
            <th>建设地点</th>
            <td><input type="text" class="form-control input-sm"></td>
          </tr>
          <tr>
            <th>主要建设内容</th>
            <td><textarea class="form-control" rows="3"></textarea></td>
          </tr>
          <tr>
            <th>总投资</th>
            <td><input type="text" class="form-control input-sm"></td>
          </tr>
          <tr>
            <th>资金来源</th>
            <td><select  class="form-control input-sm">
                <option value="1">政府投资</option>
                <option value="2">非政府投资</option>
              </select></td>
          </tr>
          <tr>
            <th>招标核准</th>
            <td><textarea class="form-control input-sm" rows="3"></textarea></td>
          </tr>
        </table></div>
        <div class="panel-footer text-center">
        <a href="招标项目管理-新增招标公告.html" class="btn btn-primary active" role="button">保存并下一步</a>
        <a href="招标项目管理.html" class="btn btn-default" role="button">返回</a>
        </div>
      </div>
  </div>