<tr>
	<th>选择模拟线路</th>
	<td>
		<div class="form-group">
			<label for="extensions" class="control-label col-sm-1"></label>
			<div class="controls  col-sm-4">
				<span>备选线路</span>
				<select size='10' name="channels" multiple id="channels" style='width: 100%;'>
					<%- hasChannels%></select>
			</div>
			<label for="extensions" class="control-label col-sm-1">
				<a href="###" id='addmem'>
					<img src="/images/right.png" border='0'></a>
				<br/>
				<br/>
				<a href="###" id='removemem'>
					<img src="/images/left.png" border='0'></a>
			</label>

			<div class="controls  col-sm-4">
				<span>已选线路</span>
				<select size='10' name="str_channel" multiple id="str_channel" style='width: 100%;'>
      <%- yyChannels%>    
        </select>
			</div>
			<label for="" class="control-label col-sm-1">
				<a href="###" id='moveup'>
					<img src="/images/up.png" border='0'></a>
				<br/>
				<br/>
				<a href="###" id='movdown'>
					<img src="/images/down.png" border='0'></a>
			</label>

		</div>
	</td>
</tr>
</table>
</form>
</div>

<div class="panel-footer text-center">
<button  class="btn btn-primary active" id='savebtn'>保存</button>
<a href="/pbx/Trunk?displayStart=<%= displayStart%>&where=<%- where%>" class="btn btn-default" role="button">返回</a>
</div>
</div>
</div>
<script tyoe="text/javascript">
$(function(){
$(".tipmsg").tooltip({placement:'auto'});
$('#form1').Validform();
$('#savebtn').click(function(e){
//href="/PBXQueue/save"
if($('#form1').Validform().check()){

$("#str_channel option").each(function(){
      $(this).attr('selected',true);
    });

 $.ajax({
                cache: true,
                type: "POST",
                url:'<%- baseurl%>/save',
                data:$('#form1').serialize(),// 你的formid
                async: false,
                error: function(request) {
                   $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                },
                success: function(data) {
                  if(data.success==='OK'){
                    $('#id').val(data.id);
                    $('#accountcode').attr('readonly','readonly');
                  }
                  $.scojs_message(data.msg, $.scojs_message['TYPE_'+data.success]);                  
                }
            }); 
}else{
  $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
}

});

//增加成员
  $("#addmem").click(function(){
      $("#channels option:selected").clone().appendTo("#str_channel");
      $("#channels option:selected").remove();
  });
  $("#channels").dblclick(function(){
    $("option:selected",this).clone().appendTo("#str_channel");
    $("option:selected",this).remove();
  });
  //减少成员
  $("#removemem").click(function(){
      $("#str_channel option:selected").clone().appendTo("#channels");
      $("#str_channel option:selected").remove();
  });
  $("#str_channel").dblclick(function(){
    $("option:selected",this).clone().appendTo("#channels");
    $("option:selected",this).remove();
  });
  //成员上移
  $("#moveup").click(function(){
    var so = $("#str_channel option:selected");
    if(so.get(0) && so.get(0).index!=0){
      so.each(function(){
        $(this).prev().before($(this));
      });
    }
  });
  //成员下移
  $("#movdown").click(function(){
    var so = $("#str_channel option:selected");
    if(so.get(0) && so.get(0).index!=($("#str_channel option").length-1)){
      so.each(function(){
        $(this).next().after($(this));
      });
    }
  });


});
</script>