<div class="layout_main">
  <div class="page_box">
    <div class="column form-column main col form-horizontal">
      <div class="panel panel-default fieldset">
        <div class="panel-heading">
          <a href="<%- baseurl%>/create" class="btn btn-primary">新建自动录音规则</a>

          <h4 class="panel-title">
            <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              已有规则
            </a>
          </h4>
        </div> 
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body ">
            <table class="table table-striped table-hover table-condensed table-bordered">
              <thead>
                <tr>
                  <th class="text-center">规则名称</th>
                  <th class="text-center">呼出录音</th>
                  <th class="text-center">呼入录音</th>
                  <th class="text-center">队列录音</th>
                  <th class="text-center">保存方式</th>
                  <th class="text-center">保存参数</th>
                  <th class="text-center">坐席分机</th>
                  <th class="text-center">
                    <span class="print">操作</span>
                  </th>
                </tr>
              </thead>
              <tbody  id="gztable">
<%for(var j=0;j<ways.length;j++){%>
<tr>
<td class="text-center"><%= ways[j].wayName%></td>
<td class="text-center"><%= ways[j].recordout%></td>
<td class="text-center"><%= ways[j].recordin%></td>
<td class="text-center"><%= ways[j].recordqueue%></td>
<td class="text-center"><%= ways[j].keepfortype%></td>
<td class="text-center"><%= ways[j].keepforargs%></td>
<td class="text-center"><%= ways[j].members%></td>
<td class="text-center">
  <a href="/pbx/RecordFile/edit?id=<%= ways[j].id%>" class="btn btn-primary btn-xs"  >编辑</a>
  <a class="btn btn-danger btn-xs" href="javascript:delrow2('<%= ways[j].id%>');">删除</a>
</td>
</tr>
<%}%>
              </tbody>
            </table>
          </div>
        </div>

        <div class="panel-body ">
          <div class="form-group">
            <legend>搜索条件：</legend>
            <label for="callnumber" class="control-label col-sm-2">主叫</label>
            <div class="controls  col-sm-2">
              <input type="text" value="" name="callnumber" id="callnumber"  class="form-control input-sm"></div>
              <label for="extennum" class="control-label col-sm-2">被叫</label>
              <div class="controls  col-sm-2">
                <input type="text" value="" name="extennum" id="extennum"  class="form-control input-sm"></div>
                <label for="lable" class="control-label col-sm-2">录音类型</label>
                <div class="controls  col-sm-2">
                  <input type="text" value="" name="lable" id="lable"  class="form-control input-sm"></div>


                  <label for="cretimeFrom" class="control-label col-sm-2">记录时间</label>
                  <div class="controls  col-sm-4">
                    <div class="input-group">
                    <input type="text" value="" name="cretimeFrom" id="cretimeFrom" data-id="a-from"  class="form-control input-sm datetimeserach" placeholder="选择起始">
                    <span class="input-group-addon">x</span>
                      <input type="text" value="" name="cretimeTo" id="cretimeTo" data-id="a-to" class="form-control input-sm datetimeserach" placeholder="选择结束">
                      <span class="input-group-addon">x</span>
                    </div>
                    </div>
                      
                      <div class="controls  col-sm-2">
                        <input type="button" class="btn btn-primary btn-sm" id="search" value="查询"></div>
                      </div>
                      <div class="controls  col-sm-4"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <table class="table table-striped table-hover table-condensed table-bordered" id="datatable">
              <thead>
                <tr>
                  <th class="text-center">文件名称</th>
                  <th class="text-center">所在目录</th>
                  <th class="text-center">主叫</th>
                  <th class="text-center">被叫</th>
                  <th class="text-center">录音类型</th>
                 
                  <th class="text-center">扩展名</th>
                  <th class="text-center">创建时间</th>
                  <th class="text-center">
                    <span class="print">操作</span>
                  </th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot>
                <tr>
                 <th class="text-center">文件名称</th>
                 <th class="text-center">所在目录</th>
                 <th class="text-center">主叫</th>
                 <th class="text-center">被叫</th>
                 <th class="text-center">录音类型</th>
                
                  <th class="text-center">扩展名</th>
                 <th class="text-center">创建时间</th>
                 <th class="text-center">
                  <span class="print">操作</span>
                </th>
              </tr>
            </tfoot>
          </table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">请选择查听方式</h4>
    </div>
    <div class="modal-body">
      <!--弹出内容-->
      <div class="column form-column main col form-horizontal">
        <div class="panel-body ">
          <div class="form-group">

            <div class="controls  col-sm-12">
             <label>&nbsp;&nbsp;&nbsp;&nbsp;在这里，如果你的浏览器支持HTML5你可以通过PC在线使用音响/耳机查听，否则，你需要通过下载到本地电脑中，使用音响/耳机查听语音；也可以输入你使用的分机，采用分机查听，采用分机查听时，请确保分机是有效且可用的！
             </label>
            </div>
             <label for="soundexten" class="control-label col-sm-2">分机号：</label>
            <div class="controls  col-sm-6">
              <input type="text" value="" name="soundexten" id="soundexten"  class="form-control input-sm" />
              <input type="hidden" value="" name="soundforder" id="soundforder" />
              <input type="hidden" value="" name="filenameh" id="filenameh" /> 
              <input type="hidden" value="" name="extenname" id="extenname" />         
            </div>           
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="soundpc" name="soundpc" class="btn btn-primary"  data-dismiss="modal" onclick="javascript:listenbypc();" >PC查听</button>
           <button type="button" id="soundext" name="soundext" class="btn btn-primary" data-dismiss="modal" onclick="javascript:listenbyphone();" >分机查听</button>
            <button type="button" id="soundext" name="soundext" class="btn btn-warning" href="#" data-dismiss="modal" >取消</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade in" id="pcsoundmodal" tabindex="-4" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:720px">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
         <div class="controls  col-sm-12">
 <audio src="" controls="controls" id="pcaudio" class="col-sm-9">
 您的浏览器不支持此播放标签！
 </audio>
 <a href="javascript:download();" class="btn btn-primary col-sm-1" target="_blank">下载</a>
 </div> 
        </div>
      </div>
    </div>
  </div>
</div>


<%- include ../../listsuredelmodal.html %>
<%- include ../../listsyncmodal.html %>
<%- include ../../listprogressbar.html %>
<%- include ../../listtable.html %>
<%- include ../../listbasefunc.html %>

<script type="text/javascript">
function getWhere(){
var where={};
where.dbName='<%= modename%>';
//gt > gete >=  lt  < lte <=   inq IN nin NOT IN neq  != like  LIKE
where.whereCount=4;//添加需要查询的条件个数
where.whereCol_0='callnumber';
where.whereWay_0='like';
where.whereValue_0=$('#callnumber').val()==''?'':'%'+$('#callnumber').val()+'%';
where.whereCol_1='extennum';
where.whereWay_1='like';
where.whereValue_1=$('#extennum').val()==''?'':'%'+$('#extennum').val()+'%';
where.whereCol_2='lable';
where.whereWay_2='';
where.whereValue_2=$('#lable').val();

if($("#cretimeFrom").val()!='' && $("#cretimeTo").val()==''){
where.whereCol_3='cretime';
where.whereWay_3='gte';
where.whereValue_3=moment($('#cretimeFrom').val()+" 00:00:00").unix();
}
else if($("#cretimeFrom").val()!='' && $("#cretimeTo").val()!=''){
where.whereCol_3='cretime';
where.whereWay_3='between';
where.whereValue_3=moment($('#cretimeFrom').val()+" 00:00:00").unix()+","+moment($('#cretimeTo').val()+" 23:59:59").unix();
}
else if($("#cretimeFrom").val()=='' && $("#cretimeTo").val()!=''){
where.whereCol_3='cretime';
where.whereWay_3='lte';
where.whereValue_3=moment($('#cretimeTo').val()+" 23:59:59").unix();
}
return where;
}

function getToolWhere(){
  var where=getWhere();
  var toolswhere={};
for(var key in where){
  toolswhere[key]=where[key];
}

toolswhere.sColumns='';

var colums=getColums();
toolswhere.iSortingCols=1;
for(var i=0;i<colums.length;i++){
 if(toolswhere.sColumns!=='')
  toolswhere.sColumns+=','+colums[i].mData;
else
  toolswhere.sColumns=colums[i].mData;

if(colums[i].asSorting && colums[i].asSorting.length>0){
  toolswhere['iSortCol_'+toolswhere.iSortingCols]=toolswhere.iSortingCols;
  toolswhere['sSortDir_'+toolswhere.iSortingCols]=colums[i].asSorting[0];
   toolswhere['bSortable_'+toolswhere.iSortingCols]=colums[i].bSortable;
  
  toolswhere.iSortingCols++;

}

}

toolswhere.iDisplayStart=0;
toolswhere.iDisplayLength=-1;
return toolswhere;
}

function getaaSorting(){
return [[6,'desc']];
}

function getColums(){
  var colums = [{
    "sClass": 'center',
    "sName": "filename",
    "mData": "filename",
    "bSortable": false,
    "bVisible": true,
    "aTargets": [0]
  }, {
    "sClass": 'center',
    "sName": "folder",
    "mData": "folder",
    "bSortable": false,
    "bVisible": true,
    "aTargets": [1]
  }, {
    "sClass": 'center',
    "sName": "callnumber",
    "mData": "callnumber",
    "bSortable": false,
    "bVisible": true,
    "aTargets": [2]
  }, {
    "sClass": 'center',
    "sName": "extennum",
    "mData": "extennum",
    "bSortable": false,
    "bVisible": true,
    "aTargets": [3]
  }, {
    "sClass": 'center',
    "sName": "lable",
    "mData": "lable",
    "bSortable": false,
    "bVisible": true,
    "aTargets": [4]
  }/*, {
    "sClass": 'center',
    "sName": "filesize",
    "mData": "filesize",
    "bSortable": false,
    "bVisible": true,
    "aTargets": [5]
  }*/, {
    "sClass": 'center',
    "sName": "extname",
    "mData": "extname",
    "bSortable": false,
    "bVisible": true,
    "aTargets": [5]
  }, {
    "sClass": 'center',
    "sName": "cretime",
    "mData": "cretime",
    "bSortable": true,
    "bVisible": true,
    "aTargets": [6],
    "mRender": function(data, type, full) {
      return moment.unix(data).format("YYYY-MM-DD HH:mm:ss");
    }
  }, {
    "sClass": 'center',
    "sName": "id",
    "mData": "id",
    "bSortable": false,
    "bVisible": true,
    "aTargets": [7],
    "mRender": function(data, type, full) {
      
        var str = '';
        str += '<a class="btn btn-primary btn-xs" onclick="javascript:setSoudfile(\''+full.filename+'\',\''+full.lable+'\',\''+full.extname+'\')">播放</a>';
     /* str += '<a class="btn btn-danger btn-xs print" href="javascript:delrow(\'' + data + '\');">删除</a>'*/
      return str;
    
      
    }
  }];
  return colums;
}
</script>
<script type="text/javascript">
function setSoudfile(filename,forder,ext){
  $("#soundforder").val(forder);
  $("#filenameh").val(filename);
  $("#extenname").val(ext);
  $("#myModal").modal('show');
}

function download(){
   var file = $("#soundforder").val()+"/"+$("#filenameh").val()+"."+$("#extenname").val();
   window.open("/base/common/downmonitor?file="+file);
}

function listenbypc() {
  $("#myModal").modal("hide");
  if(typeof(Worker) !== "undefined")
{        
$("#pcsoundmodal").modal('show');
var  audio=$("#pcaudio")[0];
audio.src="/monitor/"+$("#soundforder").val()+"/"+$("#filenameh").val()+"."+$("#extenname").val();
audio.play();
} 
else{   
download();
}         
}

function listenbyphone(){
    var filename= $("#filenameh").val();
    var tmpdir=$("#soundforder").val()+"/";
    var exten=$("#soundexten").val();
   // alert(tmpdir+filename);
    if(/\d+/.test(exten)){
       $.ajax({
                    cache: true,
                    type: "POST",
                    url: '/pbx/Sounds/listenByPhone',
                    data: {dirtype:"monitor",folder:tmpdir,filename:filename,exten:exten},
                    async: true,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {                                                                 
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                             }
                });
     }else{
      alert("请输入有效的分机号!");
     }      
}

function delrow2(delid){
$.ajax({
      type: "POST",
      url: '<%- baseurl%>/delete',
      data: {
        id: delid
      }, // 你的formid
      async: false,
      error: function(request) {
        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
      },
      success: function(data) {
        if (data.success === 'OK') {
          alert("删除成功！");
          window.location.reload(true);
        }else{
          $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
        }
        
      }
    });
}

</script>