<div class="layout_main"> 
 <div class="page_box">
    <div class="column form-column main col form-horizontal">
      <div class="panel panel-default fieldset">
        <div class="panel-heading"> 
        <button  class="btn btn-primary" id='createnew'>座席话务统计</button>
        </div>
        <div class="panel-body ">


<form id="form1">
<div class="form-group">
 <label for="iswork" class="control-label col-sm-2">统计方式</label>
 <div class="controls  col-sm-4">
               <label class="radio-inline">
<input type="radio" id="days" name='iswork' value="days" checked='checked'>日
</label>          
 <label class="radio-inline">
  <input type="radio" id="week" name='iswork' value="week"  >周
</label>
<label class="radio-inline">
  <input type="radio" id="month" name='iswork' value="month"  >月
</label>
<label class="radio-inline">
  <input type="radio" id="jidu" name='iswork' value="jidu"  >季度
</label>
<label class="radio-inline">
  <input type="radio" id="year" name='iswork' value="year"  >年
</label>
</div>

  <label for="charttype" class="control-label col-sm-2">统计类型</label>
  <div class="controls  col-sm-4">
   <label class="radio-inline">
<input type="radio" id="calllong" name='charttype' value="calllong" >通话时长
</label>          
 <label class="radio-inline">
  <input type="radio" id="calltimes" name='charttype' value="calltimes" checked='checked' >通话次数
</label>
  </div>
</div>

<div class="form-group">
  

    <label for="timefrom" class="control-label col-sm-2 ">统计范围</label>
            <div class="controls  col-sm-4 ">
              <div class="input-group">
            <input type="text" value="" name="timefrom" id="timefrom" data-id="time-from" class=" form-control input-sm datetimeserach datetime" placeholder="选择起始范围" readonly/>  
            <span class="input-group-addon">x</span>
             <input type="text" value="" name="timeto" id="timeto" data-id="time-to"  class=" form-control input-sm datetimeserach datetime" placeholder="选择结束范围"  /> 
            <span class="input-group-addon">x</span>
          </div>
           
            </div>
               
    <label for="timeto" class="control-label col-sm-2">统计部门</label>
            <div class="controls  col-sm-3 ">
              <select class="form-control input-sm" id="dept" name="dept" data-selectdom="departments">
                
              </select>
            </div>

              <div class="controls  col-sm-1">
                <input type="button" class="btn btn-primary btn-sm" id="search" value="查询" />
              </div>             
            </div>

</form>

          </div>
        </div>
      </div>
</div>

<div class="panel-body ">
<ul class="nav nav-tabs">
  <li class="active" id="tablelist"><a href="javascript:tabclick('tablelist')"  data-toggle="tab">统计列表</a></li>
  <li id="zzcart"><a href="javascript:tabzzcart('zzcart')" data-toggle="tab">柱状图</a></li>
  <li id="bzcart"><a href="javascript:tabbzcart('bzcart')" data-toggle="tab">饼状图</a></li>
  <li class="navbar-right"><a href="#">导出Excel</a></li>
</ul>
</div>
<div class="panel-body ">
<div class="tab-content" id="tabcontent">
      
</div>


</div>
</div>


<script type="text/javascript">
  function setyear(){
        var now = new Date(); //当前日期 
  var nowYear = now.getFullYear(); //当前年 
  var ty=nowYear+5;
  //$('#thshow').html('月份\\部门');
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
   ty=nowYear+4;
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
   ty=nowYear+3;
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
   ty=nowYear+2;
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
   ty=nowYear+1;
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
  $("<option value='" + nowYear + "' selected='selected' >" + nowYear + "年</option>").appendTo("#thisyear");
   ty=nowYear-1;
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
   ty=nowYear-2;
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
   ty=nowYear-3;
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
   ty=nowYear-4;
  $("<option value='" + ty+ "'  >" + ty + "年</option>").appendTo("#thisyear");
   ty=nowYear-5;
  $("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#thisyear");
  }

  function tabclick(id){
    $(".active").each(function(){
     var self=this;
     $(self).removeClass("active");
    });
    $("#"+id).addClass("active");
    
     $.ajax({
            cache: true,
            type: "POST",
            url: '/pbx/dycharts/'+id,
            data: $('#form1').serialize(),
            async: false,
            error: function(request) {
                $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
            },
            success: function(data) {
               $("#tabcontent").html(data);
            }
        });

  }

  function tabzzcart(id){
     $(".active").each(function(){
     var self=this;
     $(self).removeClass("active");
    });
    $("#"+id).addClass("active");
    $("#tabcontent").html("");
  }

   function tabbzcart(id){
     $(".active").each(function(){
     var self=this;
     $(self).removeClass("active");
    });
    $("#"+id).addClass("active");
    $("#tabcontent").html("");
  }



  </script>

<script type="text/javascript">
$(function(){       
$('.datetime').datetimepicker({
format:"yyyy-mm-dd",
weekStart:1,
autoclose:true,//false,true
startView:'month',//hour,day,month,year,decade
minView:'month',//default:hour
maxView:"year",//default:decade
todayBtn:false,//Default: false
todayHighlight:true,
language:'zh-CN'
});


$("input[name='iswork']").click(function(){
  var checkval=$("input[name='iswork']:checked").val();
      if ( checkval == 'days' || checkval=='week'  ) {
$('.datetime').val("");   
$('.datetime').datetimepicker('remove');
$('.datetime').datetimepicker({
format:"yyyy-mm-dd",
weekStart:1,
autoclose:true,//false,true
startView:'month',//hour,day,month,year,decade
minView:'month',//default:hour
maxView:"year",//default:decade
todayBtn:false,//Default: false
todayHighlight:true,
language:'zh-CN'
});

      }
 else if(checkval=='month' || checkval=='jidu'){
$('.datetime').val("");   
$('.datetime').datetimepicker('remove');
$('.datetime').datetimepicker({
format:"yyyy-mm",
weekStart:1,
autoclose:true,//false,true
startView:'decade',//hour,day,month,year,decade
minView:'year',//default:hour
maxView:"decade",//default:decade
todayBtn:false,//Default: false
todayHighlight:true,
language:'zh-CN'
});

      }
      else{
 $('.datetime').val("");       
$('.datetime').datetimepicker('remove');
$('.datetime').datetimepicker({
format:"yyyy",
weekStart:1,
autoclose:true,//false,true
startView:'decade',//hour,day,month,year,decade
minView:'decade',//default:hour
maxView:"decade",//default:decade
todayBtn:false,//Default: false
todayHighlight:true,
language:'zh-CN'
});
      
      }






    });

//日历完成

$("#search").click(function(){
var timefrom=$("#timefrom").val()==""?"1979-01-01":$("#timefrom").val();
var timeto=$("#timeto").val()==""?"2999-12-31":$("#timeto").val();
if(timeto < timefrom)
alert("结束时间小于开始时间");
return false;
});

$("#search").click(function(){
tabclick('tablelist');
});

tabclick('tablelist');
});

     </script>
