    <html>
    <head></head>
    <body>
      

    <table class="table table-striped table-hover table-condensed table-bordered" id="datatable">
      <thead>
        <tr>
          <th class="text-center" rowspan="2" style="parding-top:10px;">日期\座席</th>
          <th class="text-center" colspan="2">赵冠楠</th>
          <th class="text-center" colspan="2">赵冠楠</th>
          <th class="text-center" colspan="2">赵冠楠</th>
          <th class="text-center" colspan="2">赵冠楠</th>
          <th class="text-center" colspan="2">总计</th>
        </tr>
        <tr>
          <th class="text-center">呼入</th>
          <th class="text-center">呼出</th>
          <th class="text-center">呼入</th>
          <th class="text-center">呼出</th>
          <th class="text-center">呼入</th>
          <th class="text-center">呼出</th>
          <th class="text-center">呼入</th>
          <th class="text-center">呼出</th>
          <th class="text-center">呼入</th>
          <th class="text-center">呼出</th>
        </tr>
      </thead>
      <tbody>
</tbody>
<tfoot>

</tfoot>
</table>    </body></html>