<div id="tabs" class="easyui-tabs" style="width:100%;height:480px;">
    <div title="统计列表" data-options="iconCls:'icon-large-smartart',tabWidth:112"
         style="padding:10px;width:100%;height:460px;">
        <div align="right">
            <span id="reportDateID"></span>
        </div>
        <table id="datagrid" class="easyui-datagrid">
            <thead>
            <tr>
                <th rowspan="2" data-options="field:'年份',width:'10%',align:'center'"><b>年份</b></th>
                <th colspan="3" data-options="align:'center'"><b>正式专家</b></th>
                <th colspan="3" data-options="align:'center'"><b>候选专家</b></th>
            </tr>
            <tr>

                <th data-options="field:'正常',width:'15%',align:'center'"><b>正常</b></th>
                <th data-options="field:'暂停',width:'15%',align:'center'"><b>暂停</b></th>
                <th data-options="field:'解聘',width:'15%',align:'center'"><b>解聘</b></th>
                <th data-options="field:'未领证',width:'15%',align:'center'"><b>未领证</b></th>
                <th data-options="field:'备选',width:'15%',align:'center'"><b>备选</b></th>
                <th data-options="field:'未提交',width:'15%',align:'center'"><b>未提交</b></th>
            </tr>
            </thead>
        </table>
    </div>
    <div title="图形报表" data-options="iconCls:'icon-large-chart'" style="padding:10px">
        <div id="container" style="min-width:800px;height:400px"></div>
    </div>
    <div title="按条件统计" data-options="iconCls:'icon-help',closable:false" style="padding:10px">
        <div class="easyui-panel" title="请输入查询条件" style="width:400px">
            <div style="padding:10px 60px 20px 60px">
                <form id="queryConditions" method="POST">
                    <table cellpadding="5">
                        <tr>
                            <td>本次统计无查询条件！</td>
                        </tr>
                    </table>
                </form>
                <div style="text-align:center;padding:5px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="searchSubmit">查看列表</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var chart;
        BJExpert.baseFn.getChartDate();
        $("#datagrid").datagrid({
            //data-options="rownumbers:true,singleSelect:true,url:'http://192.168.0.114:18081/zhuanjia/knzj',method:'post'"
            rownumbers: true,
            singleSelect: true,
            url: BJExpert.apiServer + '/zhuanjia/knzj',
            method: 'post'
        });
        function DoChart() {
            $.ajax({
                url: BJExpert.apiServer + '/zhuanjia/knzj',
                type: 'POST',
                data: {},
                dataType: "json",
                success: function (data) {
                    var categories = [];
                    var series = [
                        {                                 //指定数据列
                            name: '正常',                          //数据列名
                            data: []                        //数据
                        },
                        {
                            name: '暂停',
                            data: []
                        },
                        {
                            name: '解聘',
                            data: []
                        },
                        {
                            name: '未领证',
                            data: []
                        },
                        {
                            name: '备选',
                            data: []
                        },
                        {
                            name: '未提交',
                            data: []
                        }
                    ];

                    var title = "库内专家状态汇总表", rows = [];
                    if (data && typeof(data) === 'object') {
                        rows = data.rows;
                    } else if (data) {
                        rows = data;
                    }
                    for (var i = 0; i < rows.length; i++) {
                        categories.push(rows[i]['年份']);
                        series[0].data.push(rows[i]['正常']);
                        series[1].data.push(rows[i]['暂停']);
                        series[2].data.push(rows[i]['解聘']);
                        series[3].data.push(rows[i]['未领证']);
                        series[4].data.push(rows[i]['备选']);
                        series[5].data.push(rows[i]['未提交']);
                    }
                    chart = new Highcharts.Chart({
                        // $('#container').highcharts({                   //图表展示容器，与div的id保持一致
                        chart: {
                            renderTo: 'container',
                            //width:$("#container").width(),
                            type: 'column'                         //指定图表的类型，默认是折线图（line）
                        },
                        credits: {
                            enabled: true,
                            text: '四川建设网',
                            href: 'http://www.sccin.com'
                        },
                        title: {
                            text: title      //指定图表标题
                        },
                        exporting: {
                            enabled: true,
                            buttons: {
                                contextButton: {
                                    enabled: true,
                                    text: '图表菜单',
                                    menuItems: [
                                        {
                                            text: '导出EXCEL',
                                            onclick: function () {

                                                var form = $("<form>");
                                                form.attr('style', 'display:none');
                                                form.attr('target', '');
                                                form.attr('method', 'post');
                                                form.attr('action', BJExpert.apiServer + '/base/getCSV');
                                                var input1 = $('<input>');
                                                input1.attr('type', 'hidden');
                                                input1.attr('name', 'csv');
                                                input1.attr('value', chart.getCSV());
                                                var input2 = $('<input>');
                                                input2.attr('type', 'hidden');
                                                input2.attr('name', 'filename');
                                                input2.attr('value', 'ImportExcel');
                                                $('body').append(form);
                                                form.append(input1);
                                                form.append(input2);
                                                form.submit();
                                                form.remove();

                                            }

                                        },
                                        {
                                            separator: true
                                        } ,
                                        {
                                            text: '导出 - PNG',
                                            onclick: function () {
                                                this.exportChart();
                                            }
                                        },
                                        {
                                            text: '导出 - JPG',
                                            onclick: function () {
                                                this.exportChart({
                                                    type: 'image/jpeg'
                                                });
                                            }
                                        },
                                        {
                                            separator: true
                                        },
                                        {
                                            text: '导出 - PDF',
                                            onclick: function () {
                                                this.exportChart({
                                                    type: 'application/pdf'
                                                });
                                            }
                                        },
                                        {
                                            text: '导出 - SVG',
                                            onclick: function () {
                                                this.exportChart({
                                                    type: 'image/svg+xml'
                                                });
                                            }
                                        },
                                        {
                                            separator: true
                                        },
                                        {
                                            text: '打印图表',
                                            onclick: function () {
                                                this.print();
                                            }
                                        }
                                    ]
                                }
                            },
                            formAttributes: {
                                "enctype": "application/x-www-form-urlencoded",
                                "charset": "UTF-8"
                            },
                            filename: title,
                            type: 'image/png',
                            width: 1024,
                            url: BJExpert.apiServer + '/base/exporter'
                        },
                        xAxis: {
                            categories: categories,   //指定x轴分组
                            labels: {
                                rotation: 65
                            }
                        },
                        yAxis: {
                            title: {
                                text: '专家人数'                  //指定y轴的标题
                            }
                        },
                        series: series
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var msg = textStatus || errorThrown;
                    alert("Ajax错误：" + msg);
                }

            });
        }

        DoChart();
    });
</script>