<div id="tabs" class="easyui-tabs" style="width:100%;height:480px;">
    <div title="统计列表" data-options="iconCls:'icon-large-smartart',tabWidth:112"
         style="padding:10px;width:100%;height:460px;">
        <div align="right">
            <span id="reportDateID"></span>
        </div>
        <table id="datagrid" border="1" cellpadding="1" cellspacing="1" width="100%">
            <tr>
                <th  data-options="width:'10%',align:'center'"><b>专家类型</b></th>
                <th  data-options="align:'center'"><b>参评资格</b></th>
                <th  data-options="align:'center'"><b>状态类型</b></th>
                <th  data-options="align:'center'"><b>专家数量</b></th>
            </tr>
            <tr>
                <td rowspan="14">
                   正式专家
                </td>
                <td>
                    全部
                </td>
                <td>
                    -
                </td>
                <td id="全部专家">

                </td>
            </tr>
            <tr>
                <td>
                    正常
                </td>
                <td>
                    资格正常的专家
                </td>
                <td id="正常专家">

                </td>
            </tr>
            <tr>
                <td rowspan="6">
                    暂停
                </td>
                <td>
                    专家资格直接被主管部门暂停的
                </td>
                <td id="直接暂停">

                </td>
            </tr>

            <tr>

                <td>
                    专家所有评标专业当前均被主管部门暂停的
                </td>
                <td id="专业暂停">

                </td>
            </tr>
            <tr>

                <td>
                    首次入库并已领证，聘期尚未开始的
                </td>
                <td id="聘期未到">

                </td>
            </tr>
            <tr>

                <td>
                    聘期届满（不含被提前解聘专家），聘期结束当年起三年内尚未申请续聘的
                </td>
                <td id="届满未续聘">

                </td>
            </tr>
            <tr>

                <td>
                    续聘成功但在新的聘期内尚未办理聘书延期手续的
                </td>
                <td id="续聘未办延期">

                </td>
            </tr>
            <tr>

                <td>
                    被解聘专家重新入库但在新的聘期内尚未办理聘书延期手续的
                </td>
                <td id="重入未办延期">

                </td>
            </tr>

            <tr>
                <td rowspan="6">
                    解聘
                </td>
                <td>
                    超过年龄限制并聘期届满的
                </td>
                <td id="超龄期满">

                </td>
            </tr>

            <tr>

                <td>
                    专家资格直接被主管部门取消的
                </td>
                <td id="直接解聘">

                </td>
            </tr>
            <tr>

                <td>
                    专家所有评标专业均被主管部门禁用的
                </td>
                <td id="专业禁用">

                </td>
            </tr>
            <tr>

                <td>
                    聘期届满，聘期结束当年起三年未申请续聘或申请增加评标专业续聘时，未能入库的
                </td>
                <td id="届满未续聘入库">

                </td>
            </tr>
            <tr>

                <td>
                    续聘成功后，新聘期届满仍未办理聘书延期手续的
                </td>
                <td id="续聘届满未延期">

                </td>
            </tr>
            <tr>

                <td>
                    被解聘专家重新入库后，新聘期届满仍未办理聘书延期手续的
                </td>
                <td id="解聘重入届满未延期">

                </td>
            </tr>



        </table>
    </div>
    <div title="图形报表" data-options="iconCls:'icon-large-chart'" style="padding:10px">
        <div id="container" style="min-width:800px;height:400px"></div>
    </div>
    <div title="按条件统计" data-options="iconCls:'icon-help',closable:false" style="padding:10px">
        <div class="easyui-panel" title="请输入查询条件" style="width:400px">
            <div style="padding:10px 60px 20px 60px">
                <form id="queryConditions" method="POST">
                    <table cellpadding="5">
                        <tr>
                            <td>本次统计无查询条件！</td>
                        </tr>
                    </table>
                </form>
                <div style="text-align:center;padding:5px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="searchSubmit">查看列表</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var chart;
        BJExpert.baseFn.getChartDate();
   /*     $("#datagrid").datagrid({
            //data-options="rownumbers:true,singleSelect:true,url:'http://192.168.0.114:18081/zhuanjia/knzj',method:'post'"
            rownumbers: true,
            singleSelect: true,
            url: BJExpert.apiServer + '/zhuanjia/knzszj',
            method: 'post'
        });*/
        function DoChart() {
            $.ajax({
                url: BJExpert.apiServer + '/zhuanjia/knzszj',
                type: 'POST',
                data: {},
                dataType: "json",
                success: function (data) {
                    var categories = [];
                    var series = [{name:'专家数量',data:[],dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        x: 4,
                        y: 10,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif',
                            textShadow: '0 0 3px black'
                        }
                    }}];
                    var title = "库内正式专家情况表", rows = [];

                    if (data && typeof(data) === 'object') {
                        rows = data.rows;
                    } else if (data) {
                        rows = data;
                    }

                    for(var key in rows[0]){
                        //alert(key);
                        if(key && key !='日期'){
                            $("#"+key).html(rows[0][key]);
                            categories.push(key);
                            series[0].data.push(rows[0][key]);
                        }
                    }



                    chart = new Highcharts.Chart({
                        // $('#container').highcharts({                   //图表展示容器，与div的id保持一致
                        chart: {
                            renderTo: 'container',
                            //width:$("#container").width(),
                            type: 'column'                         //指定图表的类型，默认是折线图（line）
                        },
                        credits: {
                            enabled: true,
                            text: '四川建设网',
                            href: 'http://www.sccin.com'
                        },
                        title: {
                            text: title      //指定图表标题
                        },
                        exporting: {
                            enabled: true,
                            buttons: {
                                contextButton: BJExpert.chart.contextButton
                            },
                            formAttributes: {
                                "enctype": "application/x-www-form-urlencoded",
                                "charset": "UTF-8"
                            },
                            filename: title,
                            type: 'image/png',
                            width: 1024,
                            url: BJExpert.apiServer + '/base/exporter'
                        },
                        xAxis: {
                            categories: categories,   //指定x轴分组
                            labels: {
                                rotation: 65
                            }
                        },
                        yAxis: {
                            title: {
                                text: '专家人数'                  //指定y轴的标题
                            }
                        },
                        series: series
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var msg = textStatus || errorThrown;
                    alert("Ajax错误：" + msg);
                }

            });
        }

        DoChart();
    });
</script>