{
        "chart": {
            "type": "line"
        },
        "title": {
            "text": "<%- title%>"
        },
        "credits":{
                        "enabled": true,
                        "href": "http://www.beic.gov.cn/",
                        "text": "北京市经济信息中心"
                    },
        "xAxis": {
            "categories": [<%- categories%>],
            "labels":{
            "rotation":45
        }
        },
        "yAxis": [{
            "min": 0,
            "title": {
                "text": "呼入"
            }
        },{
            "title": {
                "text": "呼出"
            },
            "opposite": true
        }],
        "legend": {
            "shadow": false
        },
        "tooltip": {
            "shared": true
        },
        "plotOptions": {
            "column": {
                "grouping": false,
                "shadow": false,
                "borderWidth": 0
            }
        },
        "series": [<%- series%>]
    }