<!--页面内容-->
<div class="page_box">
    <div class="column form-column main col col-sm-9 form-horizontal">
        <h1> <span class="label label-info">
      <img src="/images/man.png"/>
      <img src="/images/queue.png"/>当前正在创建菜单</span></h1>

        <div class="panel panel-default fieldset">
            <div class="formStyle">
                <form action='<%- baseurl%>/save' method='POST' id='form1'>
                    <input type="hidden" id='id' name='id' value="<%= inst.id%>"/>
                    <table>
                        <colgroup>
                            <col style="width:20%">
                        </colgroup>
                        <tr>
                            <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">基本设置</th>
                        </tr>
                        <tr>
                            <th>菜单名称</th>
                            <td>
                                <input type="text" id='menName' name='menName' class="form-control input-sm"
                                       placeholder="输入菜单名称。" datatype="*" errormsg="不能为空！" value="<%= inst.menName%>"/>
                            </td>
                        </tr>
                        <tr>
                            <th>菜单地址</th>
                            <td>
                                <input type="text" id="menURL" name="menURL" class="form-control input-sm" value="<%= inst.menURL%>"
                                       placeholder="请输入菜单地址。" datatype="*" errormsg="不能为空！"/>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                菜单图标
                            </th>
                            <td>
                                <div class="row">

                                    <div class="col-md-6">
                                        <input type="text" id="iconName" name="iconName" class="form-control input-sm" value="<%= inst.iconName%>"
                                               placeholder="请输入图标名称。" datatype="*" errormsg="不能为空！"/>
                                    </div>
                                    <div class="col-md-1"><img id="iconNameImg" src="/themes/default/icon/<%= inst.iconName%>"  alt="无图片" style="height:24px;width:24px;"/></div>

                                </div>



                            </td>

                        </tr>
                        <tr>
                            <th>
                                菜单分组
                            </th>
                            <td>
                                <select class="form-control input-sm" id="mgID" name="mgID" data-selectdom="menmuGroups" data-selectval="<%= inst.mgID%>"
                                        datatype="*" errormsg="不能为空！">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                菜单高度
                            </th>
                            <td>
                                <input type="text" id="height" name="height" class="form-control input-sm" value="<%= inst.height%>"
                                       placeholder="菜单高度，只能是数字.默认800." datatype="n0-20" errormsg="必须整数！"/>
                            </td>

                        </tr>
                        <tr>
                            <th>
                                菜单宽度
                            </th>
                            <td>
                                <input type="text" id="width" name="width" class="form-control input-sm" value="<%= inst.width%>"
                                       placeholder="菜单宽度，只能是数字.默认800." datatype="n0-20" errormsg="必须整数！"/>
                            </td>

                        </tr>

                        <tr>
                            <th>
                                菜单排序
                            </th>
                            <td>
                                <input type="text" id="ordernum" name="ordernum" class="form-control input-sm" value="<%= inst.ordernum%>"
                                       placeholder="菜单宽度，只能是数字.默认800." datatype="n0-20" errormsg="必须整数！"/>
                            </td>

                        </tr>


                    </table>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-primary active" id='savebtn'>保存</button>
                <a href="/manage/Menmus?displayStart=<%= displayStart%>&where=<%- where%>" class="btn btn-default" role="button">返回</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">请选择菜单图标</h4>
            </div>

            <div class="modal-content" >
                <div class="modal-body">
                    <div id="putIcons" class="row">
                    </div>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        $(function () {
            $(".tipmsg").tooltip({placement: 'auto'});
            $('#form1').Validform();
            $('#savebtn').click(function (e) {
                if ($('#form1').Validform().check()) {
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: '<%- baseurl%>/save',
                        data: $('#form1').serialize(),// 你的formid
                        async: false,
                        error: function (request) {
                            $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                        },
                        success: function (data) {
                            if (data.success === 'OK') {
                               // $('#id').val(data.id);
                            }
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                        }
                    });
                } else {
                    $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
                }

            });
            $('#iconName').click(function(e){
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: '<%- baseurl%>/getIcons',
                    data: {},//
                    async: false,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {
                        if (data.success === 'OK') {
                            var files=data.files;
                            var htmlStr="";
                            for(var i=0;i<files.length;i++){
                                var file=files[i];
                                htmlStr+='<div class="col-md-2">';
                                htmlStr+='<a href="javascript:setIcon(\''+file+'\');" class="thumbnail">';
                                htmlStr+='<img  alt="无图片" src="/themes/default/icon/'+file+'" style="height:24px;width:24px;">';
                                htmlStr+='</a></div>';




                            }
                            $("#putIcons").html(htmlStr);
                            $("#myModal").modal('show');
                        }else{
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                        }

                    }
                });

            });
        });
        function setIcon(filename){
            $('#iconName').val(filename);
            $('#iconNameImg').attr('src',"/themes/default/icon/"+filename);
            $("#myModal").modal('hide');
        }
    </script>
