<div class="layout_main">
    <div class="page_box">
        <div class="column form-column main col form-horizontal">
            <div class="panel panel-default fieldset">
                <div class="panel-heading">
                </div>
                <div class="panel-body ">
                    <div class="form-group">
                        <div class="panel panel-default fieldset">
                            <div class="formStyle">
                                <form action='<%- baseurl%>/save' method='POST' id='form1'>
                                	<input type="hidden" id="id" name="id" value="<%= id%>" />
                                    <table>
                                        <colgroup>
                                            <col style="width:20%">
                                        </colgroup>
                                        <tr>
                                            <th>语音文件目录</th>
                                            <td>
                                                <select  class="form-control input-sm" id="folder" name="folder">
                <option value=".">/</option>
                <option value="custom">/custom</option>
                <option value="dictate">/dictate</option>
                <option value="digits">/digits</option>
                <option value="followme">/followme</option>
                <option value="letters">/letters</option>
                <option value="phonetic">/phonetic</option>
                <option value="silence">/silence</option>
                <option value="system">/system</option>
              </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>文件名称</th>
                                            <td>
                                                <select  class="form-control input-sm" id="filename" name="filename">
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>文件描述</th>
                                            <td id="desciption">
                                               
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>指定文件</th>
                                            <td>
                                                <input type="text"  class="form-control input-sm" id="specfile" name="specfile" placeholder="需要是绝对路径！" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>允许按键中断</th>
                                            <td>
                                                <label class="radio-inline tipmsg">
                                                    <input type="radio" id="isreadonly1" name='interruptible'
                                                           value="true">是</label>
                                                <label class="radio-inline tipmsg" title="">
                                                    <input type="radio" id="isreadonly2" name='interruptible' value="false"
                                                           checked='checked'>否</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="text-align: center">
                                                <input type="button" class="btn btn-primary btn-sm" id="savemenmu" value="保存">
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
var folder="system";
var filename="";
var specfile="";
var interruptible="true";
<%if(args!==null){%>
folder="<%= args.folder%>";
filename="<%= args.filename%>";
specfile="<%= args.specfile%>";
interruptible="<%= args.interruptible%>";
<%}%>
    $(function () {
        $(".tipmsg").tooltip({placement: 'auto'});
        $('#form1').Validform();
        $("#folder").val(folder);
        $("input[name='interruptible'][value='"+interruptible+"']").attr("checked","checked");
        filenameoption(folder,filename);
        $("#filename").val(filename);
        $("#specfile").val(specfile);
        $("#folder").change(function(){
$("#filename").empty();
folder=$("#folder").val();
filenameoption(folder,filename);
$("#filename").val(filename);
        });
        $("#filename").change(function(){
var desc=$("#filename").find("option:selected").attr('desc');
 	$("#desciption").html(desc)
        });
        $('#savemenmu').click(function (e) {
            if ($('#form1').Validform().check()) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: '<%- baseurl%>/save',
                    data: $('#form1').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {
                        if (data.success === 'OK') {
                            //window.location.href = "edit?id=" + data.id;
                        }
                        $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                    }
                });
            } else {
                $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
            }

        });
    });
function filenameoption(folder,filename){
	$.ajax({
type: "POST",
url: '<%- baseurl%>/getFilename',
data:{folder:folder},
async: false,
error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
 success: function (data) {
 	for(var i=0;i<data.length;i++){
 		var option = $("<option>").val(data[i].filename).text(data[i].filename);
 		    option.attr('desc',data[i].description);
      $("#filename").append(option);
 	}
 	$("#filename").val(filename);
 	var desc=$("#filename").find("option:selected").attr('desc');
 	$("#desciption").html(desc)
 	
 }
                    
	});
}
</script>