<!--页面内容-->
<div class="page_box">
    <div class="column form-column main col col-sm-9 form-horizontal">
        <h1> <span class="label label-info">
      <img src="/images/man.png"/>
      <img src="/images/queue.png"/>增加系统语音</span></h1>

        <div class="panel panel-default fieldset">
            <div class="formStyle">
                <form action='<%- baseurl%>/save' method='POST' id='form1'>
                     <input type="hidden" id="id" name="id" value="<%= inst.id%>" />
                    <table>
                        <colgroup>
                            <col style="width:20%">
                        </colgroup>
                        <tr>
                            <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">基本信息</th>
                        </tr>
                        <tr>
                            <th>说明</th>
                            <td>
                                <label>&nbsp;&nbsp;&nbsp;&nbsp;系统支持的语音文件格式包括.wav,.alaw,.ulaw,.gsm等语音格式文件。其中.wav格式应采用8000HZ,16位，单声道格式的语音。采用电话录音时，请务必在录音完毕后点击保存，否则可能终端录音并录音不完整。电话录音请使用系统内部可用分机，最好是电话响铃时，您能接起的分机。</label>
                            </td>
                        </tr>
                        <tr>
                            <th>文件名称</th>
                            <td>
                                <input type="text" id='filename' name='filename' class="form-control input-sm" value="<%= inst.filename%>"
                                       placeholder="输入方便记忆的名称。"/>
                            </td>
                        </tr>
                        <tr>
                            <th>保存目录</th>
                            <td>
                <select name="folder" id="folder" class="form-control input-sm">
                <option value="." <%if(inst.folder==='.'){%>selected='selected'<%}%> >/</option>
                <option value="custom" <%if(inst.folder==='custom'){%>selected='selected'<%}%> >/custom</option>
                <option value="dictate" <%if(inst.folder==='dictate'){%>selected='selected'<%}%> >/dictate</option>
                <option value="digits" <%if(inst.folder==='digits'){%>selected='selected'<%}%> >/digits</option>
                <option value="followme" <%if(inst.folder==='followme'){%>selected='selected'<%}%> >/followme</option>
                <option value="letters" <%if(inst.folder==='letters'){%>selected='selected'<%}%> >/letters</option>
                <option value="phonetic" <%if(inst.folder==='phonetic'){%>selected='selected'<%}%> >/phonetic</option>
                <option value="silence" <%if(inst.folder==='silence'){%>selected='selected'<%}%> >/silence</option>
                <option value="system" <%if(inst.folder==='system'){%>selected='selected'<%}%> >/system</option>
              </select>
                            </td>
                        </tr>
                        <tr>
                            <th>文件描述</th>
                            <td>
                                <input type="text" id='description' name='description' class="form-control input-sm" value="<%= inst.description%>"
                                       placeholder="建议输入语音文件内容的文字描述。"/>
                            </td>
                        </tr>
                        <tr>
                            <th>扩展名</th>
                            <td>
                               <input type="text" id='extname' name='extname' class="form-control input-sm" value="<%= inst.extname%>"
                                       readonly="readonly"/>
                                
                            </td>
                        </tr>
                        <tr>
                            <th>本地上传</th>
                            <td>
                               <input type="text" id='file_upload'  class="form-control input-sm"
                                       placeholder="请选择一个系统支持的本地语音文件。"/>
                               <input type="hidden" id="tmpname" name="tmpname" value="" />
                               <input type="hidden" id="tmpdir" name="tmpdir" value=""/>
                                <div id="divAttmentList">
                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>电话录音</th>
                            <td>
                                <div class="row">
                                    <div class="col-md-4"><input type="text" id='useexten'  class="form-control input-sm"
                                       placeholder="请输入一个可用的分机。"/></div>
                               <div class="col-md-4"><a href="javascript:recordBe();" class="btn btn-primary">录制</a>
<a href="javascript:playback();" class="btn btn-primary">回放</a>
                               </div>
                               <div class="col-md-4"></div>
                           </div>
                            </td>
                        </tr>
                       
                    </table>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-primary active" id='savebtn'>保存</button>
                <a href="/pbx/Sounds" class="btn btn-default" role="button">返回</a>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
    $(function () {
        $(".tipmsg").tooltip({placement: 'auto'});
        $('#form1').Validform();
        $('#savebtn').click(function (e) {
            if ($('#form1').Validform().check()) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: '<%- baseurl%>/save',
                    data: $('#form1').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {
                        
                            $("#tmpname").val('');
                            $("#tmpdir").val('');
                            $("#divAttmentList").html('');
                        $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                    }
                });
            } else {
                $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
            }

        });

         $('#file_upload').uploadify({
            'swf'      : '/js/uploadfile/uploadify.swf',
             'buttonText': '添加附件',
             'multi': false,
            'uploader' : '/base/common/uploadify',
            'fileTypeExts': '*.wav;*.alaw;*.ulaw;*.gsm',
            'onUploadSuccess': function(file, data, response) {
                    $('#' + file.id).find('.data').html(' 上传完毕');
                     var json_data = eval("(" + data + ")");
                    var link = "<p>" + json_data.OriginalFileName + "————<a href=\"javascript:delfile();\">删除</a></p>";
                    $("#tmpname").val(json_data.tmpname);
                    $("#extname").val(json_data.extname);
                     $("#tmpdir").val(json_data.tmpdir);
                    $("#divAttmentList").html(link);
                }
            // Your options here
        });

    });

function delfile(){
$.ajax({
                    cache: true,
                    type: "POST",
                    url: '<%- baseurl%>/delfile',
                    data: {filename:$("#tmpname").val()+"."+$("#extname").val()},
                    async: true,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {
                        if (data.success === 'OK') {
                            $("#tmpname").val('');
                            $("#extname").val('');
                             $("#tmpdir").val('');
                            $("#divAttmentList").html('');
                        }else{
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]); 
                        }
                       
                    }
                });

}

function recordBe(){
    var exten=$("#useexten").val();
    if(/\d+/.test(exten)){
        $.ajax({
                    cache: true,
                    type: "POST",
                    url: '<%- baseurl%>/recordByExten',
                    data: {exten:$("#useexten").val()},
                    async: true,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {
                        if (data.success === 'OK') {
                            $("#tmpname").val(data.tmpname);
                            $("#extname").val('wav');
                            $("#tmpdir").val(data.tmpdir);
                            alert("响铃后请立刻摘机，听到‘beep’声后开始录音，结束录音请挂机！");
                           
                        }else{
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]); 
                        }
                       
                    }
                });    
    }else{
      $.scojs_message("无效的分机号！请重新输入！", $.scojs_message['TYPE_ERROR']);   
    }

}

function playback(){
    var filename= $("#tmpname").val();
    var tmpdir=$("#tmpdir").val();
    var exten=$("#useexten").val();
    if(filename=="")
        alert("还没录制！");
        else{
             $.ajax({
                    cache: true,
                    type: "POST",
                    url: '<%- baseurl%>/listenByPhone',
                    data: {folder:tmpdir,filename:filename,exten:exten},
                    async: true,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {                                                                 
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                             }
                });
        }
    
}

</script>
