<div class="layout_main">
    <div class="page_box">
        <div class="column form-column main col form-horizontal">
            <div class="panel panel-default fieldset">
                <div class="panel-heading">
                    <h1> <span class="label label-info">
      <img src="/images/man.png"/>
      <img src="/images/queue.png"/>当前正在编辑IVR<%= inst.id%></span></h1>
                </div>
                <div class="panel-body ">
                    <div class="form-group">
                        <div class="panel panel-default fieldset">
                            <div class="formStyle">
                                <form action='<%- baseurl%>/save' method='POST' id='form1'>
                                    <table>
                                        <colgroup>
                                            <col style="width:20%">
                                        </colgroup>
                                        <tr>
                                            <th>IVR号码</th>
                                            <td>
                                                <input type="text" readonly="readonly" value="<%= inst.id%>" name="id" id="id" class="form-control input-sm"/>
                                            </td>
                                            <th>IVR名称</th>
                                            <td>
                                                <input type="text" value="<%= inst.ivrname%>" name="ivrname" id="ivrname" class="form-control input-sm"
                                                       placeholder="给IVR起一个名字，方便记忆，不能为空！" datatype="*" errormsg="不能为空！"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>IVR描述</th>
                                            <td>
                                                <input type="text" value="<%= inst.description%>" name="description" id="description"
                                                       class="form-control input-sm">
                                            </td>
                                            <th>是否只读</th>
                                            <td>
                                                <label class="radio-inline tipmsg">
                                                    <input type="radio" id="isreadonly1" name='isreadonly' value="是" <%if(inst.isreadonly==='是'){%>checked='checked'<%}%> >是</label>
                                                <label class="radio-inline tipmsg" title="">
                                                    <input type="radio" id="isreadonly2" name='isreadonly' value="否" <%if(inst.isreadonly==='否'){%>checked='checked'<%}%> >否</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="text-align: center"><input type="button" class="btn btn-primary btn-sm" id="savemenmu" value="修改">
<a href="/pbx/IvrMenmu" class="btn btn-default btn-sm" role="button">返回</a>
                                            </td>
                                            
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>

                       
                        <div class=" col-sm-12">
                        <label><h1>IVR树-查看和管理IVR流程.</h1></label>

                        
                    </div>
                        <div class="controls col-sm-5">
                            <iframe src="<%- baseurl%>/ivrtree?id=<%= inst.id%>" id="ivrtree" name="ivrtree"
                                    style="width:100%;height:480px;">
                            </iframe>
                        </div>
                       <!--  <div class="controls col-sm-1" style="bakground:black;">
                       </div> -->
                        <div class="controls col-sm-7">
 <iframe src="" id="ivraction" name="ivraction"
                                    style="width:100%;height:480px;">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type='text/javascript'>
        $(function () {
            $(".tipmsg").tooltip({placement: 'auto'});
            $('#form1').Validform();
            $('#savemenmu').click(function (e) {
                if ($('#form1').Validform().check()) {

                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: '<%- baseurl%>/save',
                        data: $('#form1').serialize(),// 你的formid
                        async: false,
                        error: function (request) {
                            $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                        },
                        success: function (data) {
                            if (data.success === 'OK') {
                                $('#id').val(data.id);
                            }
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                        }
                    });
                } else {
                    $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
                }

            });
        });
    </script>
