<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Sccin CallCenter Application System.">
<meta name="author" content="linmuyi9999@163.com">
<link rel="stylesheet" type="text/css" href="/themes/jsTree/style.min.css">
<script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/js/lib/jstree.min.js"></script>
<script type="text/javascript">
	$(function () { $('#jstree').jstree({
  "core" : {
  	"theme":{	"default":"small"},
  	 'data' : [
       'Simple root node',
       {
         'text' : 'Root node 2',
         'state' : {
           'opened' : true,
           'selected' : true
         },
         'children' : [
           { 'text' : 'Child 1' },
           'Child 2'
         ]
      }
    ]
  
  },

}); });
</script>
</head>
<body>
	 <div id="jstree">
	 </div>
</body>
</html>