<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sccin CallCenter Application System.">
    <meta name="author" content="linmuyi9999@163.com">
    <link rel="stylesheet" type="text/css" href="/themes/jsTree/style.min.css">
    <script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/js/lib/jstree.min.js"></script>
    <script type="text/javascript">
    var ivrnum=<%= menuInst.id%>;
        $(function () {
            $('#jstree').bind("loaded.jstree", function (e, data) {  
  }).bind('changed.jstree', function (e, data) {
    var i, j, r = [];
    for(i = 0, j = data.selected.length; i < j; i++) {
     // r.push(data.instance.get_node(data.selected[i]).text);
     var id=data.instance.get_node(data.selected[i]).id;
     var text=data.instance.get_node(data.selected[i]).text;
     var pid=data.instance.get_parent(data.selected[i]);
     if(id==='actions'){
      window.parent.document.getElementById("ivraction").src="/pbx/ivracts/playback/acts?ivrnum="+ivrnum;  
     }
     if(id==='inputs'){
      window.parent.document.getElementById("ivraction").src="/pbx/ivracts/playback/inputs?ivrnum="+ivrnum; 
     }
     if(pid==='actions' ){     
        window.parent.document.getElementById("ivraction").src="/pbx/ivracts/playback?id="+id+"&text="+text;
     }
     if(pid==='inputs'){
 //alert('inputs:'+data.instance.get_node(data.selected[i]).id)

     }

     
    }
    //$('#event_result').html('Selected: ' + r.join(', '));
  }).bind("move_node.jstree",function(e,data){
            alert(e);
        }).jstree({
                "core": {
                    "theme": {"default": "small"},
                    "initially_open" : [ "root" ],
                    "check_callback" : true,
                    "notify_plugins":true,
                    'data': [
                        {
                            'text': 'IVR<%= menuInst.id%>的执行动作',
                            "icon": '/images/ivr/bell.png',
                            "id":"actions",
                            "type":"root",
                            'state': {
                                'opened': true,
                                'selected': false
                            },
                            //'children': '<%= inst%>'
                            'children':
                            [
                            <%for(var i=0;i<inst.length;i++){%>
                                { 'text': '<%= inst[i].text%>',"type":"actions", "icon": '<%= inst[i].icon%>',"id":"<%= inst[i].id%>" },
                                <%}%>

                                /*{ 'text': '播放语音', "icon": '/images/ivr/pi206.png',"id":"nbbb1" },
                               {'text': '拨打电话', "icon": '/images/ivr/11.png',"id":"nbbb2" },
                                {'text': '录制字符', "icon": '/images/ivr/19-2.png',"id":"nbbb3" }*/
                            ]
                        },
                        {
                            'text':'IVR<%= menuInst.id%>的按键选择',
                            'icon':'/images/ivr/19-2.png',
                            "id":"inputs",
                            "type":"root",
                            'state': {
                                'opened': true,
                                'selected': false
                            },
                            'children':[
                               { 'text': '无效按键',"type":"inputs", "icon": '/images/ivr/pi206.png',"id":"nbbb1" },
                               {'text': '输入超时', "icon": '/images/ivr/11.png',"id":"nbbb2" },
                               {'text': '重试次数', "icon": '/images/ivr/19-2.png',"id":"nbbb3" }
                            ]
                        }
                    ]
                },
                "plugins":["themes","dnd","contextmenu","ui","types"],
                 "types" : {
      "root" : {
        "icon" : "glyphicon glyphicon-flash",
        "copy":false,
        "is_draggable" : true //设置节点不可拖拽 
      },
      "default" : {
        "icon" : "glyphicon glyphicon-flash",
        "copy":false,
        "is_draggable" : true
      },
      "actions" : {
        "icon" : "glyphicon glyphicon-ok"
      },
      "inputs" : {
        "icon" : "glyphicon glyphicon-ok"
      }
    },
                "dnd":{
 "drop_target" : false,
            "drag_target" : false
                },
                "ui":{  
                     "theme_name" : "classic" //设置皮肤样式  
                 },
                 "contextmenu": {  
            "items": {  
                "create": null,  
                "rename": null,  
                "remove": null,  
                "ccp": null,  
                "弹出对话框": {  
                    "label": "弹出对话框",  
                    "action": function (obj) { alert(obj) }  
                },  
                "包含子级菜单": {  
                    "label": "包含子级菜单",  
                    "submenu": {  
                        "cut" : {  
                            "separator_before"  : false,  
                            "separator_after"   : false,  
                            "label"             : "Cut",  
                            "action"            : function (obj) { alert("Cut") }  
                        }  
                    }  
                }  
            } 
            } 
            });
        });
    </script>
</head>
<body>
<div id="jstree">
</div>
</body>
</html>