<!--页面内容-->
  <div class="page_box">
  <div class="column form-column main col col-sm-9 form-horizontal">
    <h1> <span class="label label-info">
      <img src="/images/man.png"/>
      <img src="/images/queue.png"/>增加拨入规则</span></h1>
    <div class="panel panel-default fieldset">
    <div class="formStyle">
      <form action='<%- baseurl%>/save' method='POST' id='form1'>
        <table>
          <colgroup>
          <col style="width:20%">
          </colgroup>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">规则信息</th> 
          </tr>
          <tr>
            <th>规则名称</th>
              <td>
                  <input type="text" id='routername' name='routername' class="form-control input-sm" placeholder="输入方便记忆的规则名称。" />
              </td>
          </tr>  
          <tr>
            <th>呼叫来自</th>
            <td>
            <select name="callergroup" id="callergroup" class="form-control input-sm" style='width: 100%;'>
                <option value="0">任意</option>
              </select>
            </td>
            </tr>
          <tr>
            <th>匹配规则</th>
            <td>
            <div class="">当外线送入的被叫号码以<input type="text" style="width:20px;" id='callerid' name='callerid' class="form-control input-sm" /></div><div>开头且长度为<input type="text" id='callerlen' style="width:20px;" name='callerlen' class="form-control input-sm" />位时,从头开始删掉<input type="text" id='replacecalledtrim' style="width:20px;" name='replacecalledtrim' class="form-control input-sm" />位且补充信息<input type="text" id='replacecalledappend' style="width:20px;" name='replacecalledappend' class="form-control input-sm" />到该号码上.
            </div>
            </td>
          </tr>
          <tr>
            <th>处理方式</th>
            <td>
              <select name="processmode" id="processmode" class="form-control input-sm" style='width: 100%;'>
                <option value="黑名单">黑名单</option>
                <option value="VIP">VIP</option>
                <option value="本地处理">本地处理</option>
                <option value="拨打外线">拨打外线</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>本地类型</th>
            <td>
             <select name="lastwhendone" id="lastwhendone" class="form-control input-sm" style='width: 100%;'>
                <option value="黑名单">黑名单</option>
                <option value="VIP">VIP</option>
                <option value="本地处理">本地处理</option>
                <option value="拨打外线">拨打外线</option>
              </select>
            </td>
          </tr>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">高级参数</th> 
          </tr>
          <tr>s
            <th>最终规则</th>
            <td>
            <label class="radio-inline tipmsg">
      <input type="radio" id="lastwhendone1" name='lastwhendone' value="是" checked='checked'  >是</label>
    <label class="radio-inline tipmsg" title="">
      <input type="radio" id="lastwhendone2" name='lastwhendone' value="否" >否</label>
            </td>
          </tr>  
          <tr>
            <th>匹配主叫号码</th>
            <td><input type="text" id='callerid' name='callerid' class="form-control input-sm" /></td>
          </tr>
          <tr>
            <th>匹配主叫长度</th>
            <td><input type="text" id='callerlen' name='callerlen' class="form-control input-sm"  /></td>
          </tr>
          <tr>
            <th>主叫替换</th>
            <td>
              <input type="text" id='replacecallerid' name='replacecallerid' class="form-control input-sm"  />
            </td>
          </tr> 
        </table>
      </form>
      </div>
        <div class="panel-footer text-center">
        <button  class="btn btn-primary active" id='savebtn'>保存</button>
        <a href="javascript:history.go(-1);" class="btn btn-default" role="button">返回</a>
        </div>
      </div>
  </div>
<script type='text/javascript'>
$(function(){
$(".tipmsg").tooltip({placement:'auto'});
$('#form1').Validform();
$('#savebtn').click(function(e){
if($('#form1').Validform().check()){
 $.ajax({
                cache: true,
                type: "POST",
                url:'<%- baseurl%>/save',
                data:$('#form1').serialize(),// 你的formid
                async: false,
                error: function(request) {
                   $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                },
                success: function(data) {
                  if(data.success==='OK'){
                    $('#id').val(data.id);
                  }
                  $.scojs_message(data.msg, $.scojs_message['TYPE_'+data.success]);                  
                }
            }); 
}else{
  $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
}

});
});
</script>
