<div class="layout_main">
    <div class="page_box">
        <div class="column form-column main col form-horizontal">
            <div class="panel panel-default fieldset">
                <div class="panel-heading">
                    <a href="<%- baseurl%>/create" class="btn btn-primary">增加新的拨号规则</a>
                </div>
                <!-- div class="panel-body ">
                    <div class="form-group form-inline">
                        <label >当遇到没有被叫时,将以号码</label>
                        <input type="text" value="" name="uLogin" id="uLogin" placeholder="只能是3-20位数字" datatype="n3-20" sucmsg="验证通过！" errormsg="验证不通过！" class="form-control input-sm">
                        <label >作为被叫使用.</label>

                       
                            <input type="button" class="btn btn-primary btn-sm" id="saveDefault" value="保存">
                       
                    </div -->
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-hover table-condensed table-bordered" id="datatable">
    <!--   <colgroup>
    <col style="width: 15%;">
    <col style="width: 15%;">
    <col style="width: 35%;">
    <col style="width: 20%;">
    <col style="width: 15%;">
    </colgroup> -->
    <thead>
    <tr>
        <th class="text-center">优先</th>
        <th class="text-center">名称</th>
        <th class="text-center">呼叫来自</th>
        <th class="text-center">表达式</th>
        <th class="text-center">处理方式</th>
        <th class="text-center"><span class="print">操作</span></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    <tr>
        <th class="text-center">优先</th>
        <th class="text-center">名称</th>
        <th class="text-center">呼叫来自</th>
        <th class="text-center">表达式</th>
        <th class="text-center">处理方式</th>
        <th class="text-center"><span class="print">操作</span></th>
    </tr>
    </tfoot>
</table>
</div>

<%- include ../../listsuredelmodal.html %>
<%- include ../../listtable.html %>
<%- include ../../listbasefunc.html %>

<script src="/js/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript">

    var fixHelper = function (e, ui) {
        ui.children().each(function () {
            $(this).width($(this).width());
        });
        return ui;
    };
    $(function () {
        $("#datatable tbody").sortable({
            helper: fixHelper,
            axis: "y",
            start: function (e, ui) {
                ui.helper.css({"background": "#fff"})     //拖动时的行，要用ui.helper
                return ui;
            },
            stop: function (e, ui) {
                sortRouter();
                return ui;
            }
        });
        $("#sortable").disableSelection();
    });
    function sortRouter() {
        var ids = "";
        $("input[name='id']").each(function () {
            ids += $(this).val() + "|";
        });
        $.ajax({
            cache: true,
            type: "POST",
            url: '<%- baseurl%>/sortRouter',
            data: {ids: ids},
            async: true,
            error: function (request) {
                $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
            },
            success: function (data) {
                if (data.success === 'OK') {
                    location.href = "/pbx/RouterCallIn";
                }
                $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
            }
        });
    }


    function getWhere() {
        var where = {};
        where.dbName = '<%= modename%>';
//gt > gete >=  lt  < lte <=   inq IN nin NOT IN neq  != like  LIKE
        where.whereCount = 1;//添加需要查询的条件个数
        where.whereCol_0='routerline';
        where.whereWay_0='';
        where.whereValue_0='呼入';
        return where;
    }

    function getToolWhere() {
        var where = getWhere();
        var toolswhere = {};
        for (var key in where) {
            toolswhere[key] = where[key];
        }

        toolswhere.sColumns = '';

        var colums = getColums();
        toolswhere.iSortingCols = 0;
        for (var i = 0; i < colums.length; i++) {
            if (toolswhere.sColumns !== '')
                toolswhere.sColumns += ',' + colums[i].mData;
            else
                toolswhere.sColumns = colums[i].mData;

            if (colums[i].asSorting && colums[i].asSorting.length > 0) {
                toolswhere['iSortCol_' + toolswhere.iSortingCols] = toolswhere.iSortingCols;
                toolswhere['sSortDir_' + toolswhere.iSortingCols] = colums[i].asSorting[0];
                toolswhere['bSortable_' + toolswhere.iSortingCols] = colums[i].bSortable;

                toolswhere.iSortingCols++;

            }

        }

        toolswhere.iDisplayStart = 0;
        toolswhere.iDisplayLength = -1;
        return toolswhere;
    }

    //设置默认排序列
    function getaaSorting() {
        return [
            [0, 'asc']
        ];
    }

    function getColums() {
        var colums = [
            { "asSorting": [ "asc" ], "sClass": 'center', "sName": "proirety", "mData": "proirety", "bSortable": true, "bVisible": true, "aTargets": [0] },
            { "sClass": 'center', "sName": "routername", "mData": "routername", "bSortable": false, "bVisible": true, "aTargets": [1] },
            { "sClass": 'center', "sName": "callergroup", "mData": "callergroup", "bSortable": false, "bVisible": true, "aTargets": [2] },
            { "sClass": 'center', "sName": "callerid", "mData": "callerid", "bSortable": false, "bVisible": true, "aTargets": [3] },
            { "sClass": 'center', "sName": "processmode", "mData": "processmode", "bSortable": false, "bVisible": true, "aTargets": [4] },
            { "sClass": 'center', "sName": "id", "mData": "id", "bSortable": false, "bVisible": true, "aTargets": [5], "mRender": function (data, type, full) {
                //var str = '<input type="hidden" name="id" value="' + data + '"><a class="btn btn-primary btn-xs print" href="<%- baseurl%>/edit?id=' + data + '">编辑</a>';
                var str = '<input type="hidden" name="id" value="' + data + '"><a class="btn btn-primary btn-xs print" href="javascript:editBase(\''+data+'\',\'<%- baseurl%>/edit\')">编辑</a>';
                str += '<a class="btn btn-danger btn-xs print" href="javascript:delrow(\'' + data + '\');">删除</a>'
                return str;
            }}
        ];
        return colums;
    }
</script>
