<div>
    <table cellpadding="5">
        <tr>
            <td>监听端口:</td>
            <td><input class="easyui-textbox" type="text" name="listenPort" id="listenPort" data-options="required:true" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input class="easyui-textbox" type="text" name="email" data-options="required:true,validType:'email'" /></td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td><input class="easyui-textbox" type="text" name="subject" data-options="required:true" /></td>
        </tr>
        </table>
</div>