<!--页面内容-->
<div class="page_box">
  <div class="column form-column main col col-sm-9 form-horizontal">
    <h1>
      <span class="label label-info">
        <img src="/images/audio-card.png"/>
        当前正在修改<%= inst.trunkname%>中继外线</span>
    </h1>
    <div class="panel panel-default fieldset">
      <div class="formStyle">
        <form action='/PBXQueue/save' method='POST' id='form1'>
          <input type="hidden" name="trunkproto" id="trunkproto" value="<%= inst.trunkproto%>" />
          <input type="hidden" name="id" id="id" value="<%= inst.id%>" />
          <table>
            <colgroup>
            <col style="width:20%"></colgroup>
          <tr>
            <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">基本设置</th>
          </tr>
          <tr>
            <th>中继名称</th>
            <td>
              <input type="text" id='trunkname' name='trunkname' value="<%= inst.trunkname%>
              " class="form-control input-sm" placeholder="给中继起一个名字，方便记忆。" datatype="*" errormsg="不能为空！" />
            </td>
          </tr>

          <tr>
            <th>备&nbsp;&nbsp;&nbsp;&nbsp;注</th>
            <td>
              <textarea id="memo" name="memo"  rows="3" cols="50"><%= inst.memo%></textarea>
            </td>
          </tr>

          <%- include partv %>

          <script type="text/javascript">
          var strags="<%- inst.args %>";
          var trunkprototype="<%- inst.trunkprototype %>";
          var trunkproto="<%- inst.trunkproto %>";
          $(function(){

if(_.contains(['SIP','IAX2'],trunkproto)){
   $("[name = trunkprototype]:radio").each(function () {
    if(trunkprototype === $(this).val()){
       $(this).attr("checked", "checked");
       $("input[name='trunkprototype']").click();
    }                
                   });
}
            var extobj=strags.split('&');
extobj.forEach(function(item){
var items=item.split('=');
if(_.contains(['insecure','progressinband','qualify','jitterbuffer','transfer','encryption'],items[0])){
 $("[name = str_"+items[0]+"]:radio").each(function () {
    if(items[1]===$(this).val()){
       $(this).attr("checked", "checked");
    }                
                   });
}
else if(_.contains(['allow'],items[0])){
if(items[1] && items[1]!==''){
  var tmpattr=items[1].split(',');
   $("[name = str_allow]:checkbox").each(function () {
    if(_.contains(tmpattr,$(this).val())){
       $(this).attr("checked", "checked");
    }
                   
                });
}
}else{
 $('#str_'+items[0]).val(items[1]); 
}

});
});
          </script>