<!--页面内容-->
  <div class="page_box">
  <div class="column form-column main col col-sm-9 form-horizontal">
    <h1> <span class="label label-info">当前正在编辑<%= inst.deviceproto%>分机</span></h1>
    <div class="panel panel-default fieldset">
    <div class="formStyle">
      <form action='<%- baseurl%>/save' method='POST' id='form1'>
        <input type="hidden" id='id' name='id' value="<%= inst.id%>"/>
        <table>
          <colgroup>
          <col style="width:20%">
          </colgroup>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">基本设置</th> 
          </tr>
          <tr>
            <th>分机号码</th>
            <td>   
            <input type="text" id='accountcode'  name='accountcode' value="<%= inst.accountcode%>" readonly="readonly"  class="form-control input-sm" />
          </td>
          </tr>
          <tr>
            <th>数字密码</th>
            <td><input type="password" id='password' name='password' value="<%= inst.password%>" class="form-control input-sm" placeholder="密码为4-15数字" datatype="n4-15" errormsg="密码范围在6~15位之间！" /></td>
          </tr>
          <tr>
            <th>密码确认</th>
            <td><input type="password" value="<%= inst.password%>" class="form-control input-sm" placeholder="密码为4-15数字" datatype="*" recheck="password" errormsg="您两次输入的账号密码不一致！" /></td>
          </tr>
          <tr>
           <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">高级设置</th> 
          </tr>
          <%- include partv %>         
          <tr>
            <th>无应答处理方式</th>
            <td><select  class="form-control input-sm" id="failed" name="failed">
                <option value="default" <%if(inst.failed==='default'){%> selected="selected" <%}%>>系统默认</option>
                <option value="nothing" <%if(inst.failed==='nothing'){%> selected="selected" <%}%>>不处理</option>
                <option value="transfer" <%if(inst.failed==='transfer'){%> selected="selected" <%}%>>呼叫转移</option>
                <option value="ivr" <%if(inst.failed==='ivr'){%> selected="selected" <%}%>>IVR菜单</option>
                <option value="voicemail" <%if(inst.failed==='voicemail'){%> selected="selected" <%}%>>语音留言</option>
                <option value="fax" <%if(inst.failed==='fax'){%> selected="selected" <%}%>>数字传真</option>
              </select></td>
          </tr>
          <tr>
            <th>无应答处理号码</th>
            <td><input type="text" id="transfernumber" name="transfernumber" value="<%= inst.transfernumber%>" class="form-control input-sm" placeholder="号码格式，数字。" /></td>
          </tr>         
        </table>
      </form>
      </div>
        <div class="panel-footer text-center">
        <button  class="btn btn-primary active" id='savebtn'>保存</button>
        <a href="javascript:history.go(-1);" class="btn btn-default" role="button">返回</a>
        </div>
      </div>
  </div>
<script type='text/javascript'>
var decivestring="<%- inst.devicestring %>";
$(function(){
var extobj=decivestring.split('&');
extobj.forEach(function(item){
var items=item.split('=');
$('#str_'+items[0]).val(items[1]);
});
$('#form1').Validform();
$('#savebtn').click(function(e){
//href="/PBXExtension/save"
if($('#form1').Validform().check()){
 $.ajax({
                cache: true,
                type: "POST",
                url:'<%- baseurl%>/save',
                data:$('#form1').serialize(),// 你的formid
                async: false,
                error: function(request) {
                   $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                },
                success: function(data) {
                      $.scojs_message(data.msg, $.scojs_message['TYPE_'+data.success]);                  
                }
            }); 
}else{
  $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
}

});
});
</script>
