<!--页面内容-->
<div class="page_box">
    <div class="column form-column main col col-sm-9 form-horizontal">
        <h1> <span class="label label-info">
      <img src="/images/man.png"/>
      <img src="/images/queue.png"/>当前正在创建新的联系人</span></h1>

        <div class="panel panel-default fieldset">
            <div class="formStyle">
                <form action='<%- baseurl%>/save' method='POST' id='form1'>
                    <input type="hidden" id='id' name='id' value=""/>
                    <table>
                        <colgroup>
                            <col style="width:20%">
                        </colgroup>
                        <tr>
                            <th colspan="2" style="text-align:left;font-size:16px;color:#8B8682;">基本设置</th>
                        </tr>
                        <tr>
                            <th>姓名</th>
                            <td>
                                <input type="text" id='customName' name='customName' class="form-control input-sm"
                                       placeholder="请输入联系人名称。" datatype="*" errormsg="不能为空！"
                                       />
                            </td>
                        </tr>
                        <tr>
                            <th>性别</th>
                            <td>
                                <select class="form-control input-sm" id="sex" name="sex"
                                        datatype="*" errormsg="不能为空！">
                                    <option value="男" selected="selected">男</option>
                                    <option value="女" >女</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>职位</th>
                            <td>
                                <input type="text" id="position" name="position" class="form-control input-sm"
                                       placeholder="请输入联系人职位，如：总经理等" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                公司名称
                            </th>
                            <td>

                                <div class="row">

                                    <div class="col-md-6">
                                        <input type="hidden" value="" id="companyId" name="companyId"/>
                                        <input type="text" id="iconName" name="iconName" class="form-control input-sm"
                                               placeholder="请选择所在公司,留空采用默认。" readonly="readonly" />
                                    </div>
                                    <div class="col-md-1">
                                        <input type="button" id="selCompanyBtn" class="btn btn-primary" value="选择已有"/>
                                    </div>

                                </div>


                            </td>

                        </tr>
                        <tr>
                            <th>
                                生日
                            </th>
                            <td>
                                <input class="form-control input-sm datetimepicker" id="birthday" name="birthday" placeholder="请选择联系人生日。" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                联系电话
                            </th>
                            <td>
                                <input type="text" id="phones" name="phones" class="form-control input-sm"
                                       placeholder="多个联系电话以‘,’号分割开。" datatype="*" errormsg="不能为空"/>
                            </td>

                        </tr>
                        <tr>
                            <th>
                                联系地址
                            </th>
                            <td>
                                <input type="text" id="customAddr" name="customAddr" class="form-control input-sm"
                                       placeholder="请输入联系地址。" />
                            </td>

                        </tr>

                        <tr>
                            <th>
                                备注
                            </th>
                            <td>
                                <input type="text" id="customMemo" name="customMemo" class="form-control input-sm"
                                       placeholder="记录一些关于该联系人的额外信息。" />
                            </td>

                        </tr>


                    </table>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-primary active" id='savebtn'>保存</button>
                <a href="/crm/CustomInfo" class="btn btn-default" role="button">返回</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">请选择菜单图标</h4>
            </div>

            <div class="modal-content" >
                <div class="modal-body">
                    <div id="putIcons" class="row">
                    </div>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        $(function () {
            $(".tipmsg").tooltip({placement: 'auto'});
            $('#form1').Validform();
            $('#savebtn').click(function (e) {
                if ($('#form1').Validform().check()) {
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: '<%- baseurl%>/save',
                        data: $('#form1').serialize(),// 你的formid
                        async: false,
                        error: function (request) {
                            $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                        },
                        success: function (data) {
                            if (data.success === 'OK') {
                                $('#id').val(data.id);
                            }
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                        }
                    });
                } else {
                    $.scojs_message('输入验证不通过，请检查！', $.scojs_message.TYPE_ERROR);
                }

            });
            $('#selCompanyBtn').click(function(e){
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: '<%- baseurl%>/getIcons',
                    data: {},//
                    async: false,
                    error: function (request) {
                        $.scojs_message('连接服务器失败！', $.scojs_message.TYPE_ERROR);
                    },
                    success: function (data) {
                        if (data.success === 'OK') {
                            var files=data.files;
                            var htmlStr="";
                            for(var i=0;i<files.length;i++){
                                var file=files[i];
                                htmlStr+='<div class="col-md-2">';
                                htmlStr+='<a href="javascript:setIcon(\''+file+'\');" class="thumbnail">';
                                htmlStr+='<img  alt="无图片" src="/themes/default/icon/'+file+'" style="height:24px;width:24px;">';
                                htmlStr+='</a></div>';




                            }
                            $("#putIcons").html(htmlStr);
                            $("#myModal").modal('show');
                        }else{
                            $.scojs_message(data.msg, $.scojs_message['TYPE_' + data.success]);
                        }

                    }
                });

            });
        });
        function setIcon(filename){
            $('#iconName').val(filename);
            $('#iconNameImg').attr('src',"/themes/default/icon/"+filename);
            $("#myModal").modal('hide');
        }
    </script>
